<template>
  <v-container class="main-container">
    <v-container fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout justify-center column>
        <div class="item text--error headline text-xs-center">Session ended</div>
        <div class="item mt-4 subheading text-xs-center">Now you can close this browser window.</div>
      </v-layout>
    </v-container>
  </v-container>
</template>
