<template>
  <v-container class="main-container">
    <IdViewer />
    <v-navigation-drawer v-model="isNavOpened" absolute temporary>
      <v-list class="pa-1 nav-heading">
        <v-list-tile avatar>
          <v-list-tile-content>
            <v-list-tile-title class="text-uppercase">Notary record entry</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-form ref="notaryForm" v-model="isNotaryRecordValid" class="full-width">
          <v-divider></v-divider>
          <v-list-tile class="mt-3" v-for="element in model.getFormElements()" :key="element.property">
            <FormItem :element="element" :model="model"></FormItem>
          </v-list-tile>
        </v-form>
      </v-list>

      <div class="text-xs-center pt-3">
        <v-btn @click="applyNotaryRecord()" :disabled="!isNotaryRecordValid" color="info" large>Save</v-btn>
      </div>
    </v-navigation-drawer>

    <v-toolbar color="elevation-0" ref="toolbar" class="toolbar-with-action-buttons">
      <v-toolbar-title v-if="!isSigned">Waiting for signature</v-toolbar-title>
      <v-toolbar-title v-else-if="isSigned && !isSealButtonVisible">
        Notarize
      </v-toolbar-title>
      <v-toolbar-title v-else-if="!isSealButtonVisible" @click="isNavOpened = true">
        <div>Enter notary record</div>
        <div class="text--success body-1">Click HERE to open</div>
      </v-toolbar-title>

      <v-toolbar-items>
        <div class="pt-3 pl-5">
          <RecordingScreenGraphic />
        </div>
        <v-btn
          @click="isPasswordDialogOpened = true"
          v-show="isSealButtonVisible"
          :loading="isSealing"
          :style="{ top: `0px`, left: applyButtonLeftOffset }"
          ref="applyButton"
          color="success"
          class="elevation-12"
          absolute
          top
        >Apply digital certificate</v-btn>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-dialog v-model="isEditDialogOpened" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-container fill-height>
            <v-layout align-center justify-center column>
              <v-text-field
                v-if="editableTextNode"
                v-model="editableTextNode.text"
                v-on:keyup.enter="isEditDialogOpened = false"
              ></v-text-field>
              <v-btn @click="isEditDialogOpened = false" color="primary">Apply</v-btn>
            </v-layout>
          </v-container>
        </v-card>
      </v-dialog>

      <MultiTextNodesCreator
        v-if="textNodesData.isSet"
        :value="isCreateTextNodesDialogOpened"
        :principalName="textNodesData.principalName"
        :county="textNodesData.county"
        :commissionExpirationDate="textNodesData.commissionExpirationDate"
        @onCreateTextNodesEvent="addTextNodes"
        @onCancelTextNodesEvent="isCreateTextNodesDialogOpened = false"
      />

      <v-speed-dial
        v-if="isSigned && !isSealButtonVisible"
        direction="bottom"
        transition="slide-y-transition"
      >
        <v-btn slot="activator" color="accent" fab dark class="main-button">
          <v-icon>fas fa-bars</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
        <v-btn @click="openMultiTextCreator" fab small dark color="success">
          <span class="icon-text text--24"></span>
        </v-btn>
        <v-btn @click="addImage(officialFiles[1], 'signature')" fab dark small color="success">
          <v-icon>fas fa-pen</v-icon>
        </v-btn>
        <v-btn @click="addImage(officialFiles[0], 'rectangularSeal')" fab dark small color="success">
          <v-icon>fas fa-certificate</v-icon>
        </v-btn>
        <v-btn @click="openNotaryForm" fab small class="info">
          <v-icon>fas fa-book-open</v-icon>
        </v-btn>
      </v-speed-dial>
      <OperationsMenu />
    </v-toolbar>
    <v-container text-xs-center color="gray" class="fill-height-with-toolbar pa-0">
      <v-card>
        <v-layout justify-center row>
          <v-flex xs3>
            <v-layout justify-start column fill-height class="pl-2 pr-2">
              <v-flex xs3>
                <div v-if="signatureBoxPointerAvailable">
                  <v-btn @click="toggleSignatureBoxPointer" fab dark color="accent2">
                    <span class="icon-paper-and-feather text--30"></span>
                  </v-btn>
                  <div>{{ signatureBoxPointerShown ? 'Hide' : 'Display' }} signature box</div>
                </div>
              </v-flex>
              <v-flex xs3>
                <div id="local-media"></div>
                <div id="remote-media"></div>
              </v-flex>
              <v-flex xs1></v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs9>
            <EditNodeControls
              :isVisible="!!activeNode"
              :showEditButton="activeNode && activeNode.isEditable"
              :showScaleButtons="activeNode && activeNode.isScalable"
              :rightOffset="30"
              :height="isDocumentRendered ? document.height : 0"
              @acceptClicked="fixActiveNode()"
              @editClicked="editActiveNode()"
              @deleteClicked="deleteActiveNode()"
              @plusClicked="scaleNode(1)"
              @minusClicked="scaleNode(-1)"
            />
            <PreviewImageDocument
              :urls="documentImageUrls"
              :className="borderClass"
              @rendered="onDocumentRendered"
              @pageChanged="onPageChanged"
            />
            <SignatureBoxPointer
              v-if="signatureBoxPointerAvailable && signatureBoxPointerShown"
              :canvas="documentCanvasParams"
              :pageNumber="this.currentPageNumber"
            />
            <VueDragResize
              v-for="item in addedImages"
              v-show="item.pageNumber === currentPageNumber"
              @resizing="d => onResizing(d, item)"
              @activated="() => toggleActiveNode(item, true)"
              @deactivated="() => toggleActiveNode(item, false)"
              :key="item.id"
              :ref="item.id"
              :w="item.containerWidth"
              :h="item.containerHeight"
              :x="item.x"
              :y="item.y"
              :minh="item.minHeight"
              :aspectRatio="item.isImageLoaded"
              :stickSize="item.stickSize"
              :class="item.isFixed ? 'padding' : 'bordered'"
            >
              <img
                v-bind:src="item.url"
                :ref="item.imageId"
                @load="() => loaded(item)"
                class="signature"
                alt="Official image"
              />
            </VueDragResize>
            <VueDragResize
              class="text-xs-left"
              v-for="item in textNodes"
              v-show="item.pageNumber === currentPageNumber"
              @activated="() => toggleActiveNode(item, true)"
              @deactivated="() => toggleActiveNode(item, false)"
              @resizing="d => onTextResizing(d, item)"
              :key="item.id"
              :ref="item.id"
              :w="item.width"
              :h="item.height"
              :x="item.x"
              :y="item.y"
              :class="item.isFixed ? 'padding' : 'bordered'"
              :aspectRatio="false"
              :stickSize="item.stickSize"
            >
              <span :ref="item.textId" :style="{ fontSize: item.fontSizePx }">{{ item.text }}</span>
            </VueDragResize>
          </v-flex>
        </v-layout>
      </v-card>
      <TempAlert
        :errorMessage="infoMessage"
        :timeout="infoMessageDuration"
        @onAutoHideError="infoMessage = null"
        alertType="info"
        style="position: absolute; bottom: 0; left: 0;"
      />
    </v-container>

    <PasswordPopup
      @onClosed="isPasswordDialogOpened = false"
      @onPassword="seal"
      @onPasswordChanged="errorMessage = null"
      :isVisible="isPasswordDialogOpened"
      :errorMessage="errorMessage"
      :isLoading="isSealing"
      :certificateName="certificateName"
    ></PasswordPopup>
  </v-container>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import VueDragResize from 'vue-drag-resize'
import RemoteStorage from '../../services/RemoteStorage'
import {
  scale, toInt, getDraggableOffset,
  extractHttpErrorMessage, extractPathFromUrl, getSealedDocumentKey,
  joinIfNotEmpty, areArraysEq, getCurrentDocument,
  isLastDocumentUnprocessed, getFormattedDate, tryExec
} from '../../services/utils'
import {
  FormItem, EditNodeControls, OperationsMenu,
  PasswordPopup, RecordingScreenGraphic, IdViewer,
  MultiTextNodesCreator, TempAlert, SignatureBoxPointer,
  PreviewImageDocument
} from '../../components'
import { DATE_FORMAT_FULL } from '../../constants/dates'
import { initMeeting } from '../../assets/js/twiliovideo.js'
import { NotarySession } from '../../services/NotarySession'
import { USER_SIGNED, OFFICIAL_SEALED, USER_SIGNING_PROCESS_START } from '../../constants/stages'
import TextNode from '../../models/GraphicNodes/TextNode'
import ImageNode from '../../models/GraphicNodes/ImageNode'
import DocumentLinks from '../../models/Documents/DocumentLinks'
import Document from '../../models/Documents/Document'
import { DOCUMENT_SEALED_STAGE } from '../../constants/documentStages'
import { NotaryRecordModel, KBA_ID_EVIDENCE, PERSONAL_KNOWLEDGE_EVIDENCE } from '../../models/NotaryRecordModel'
import {
  IMAGE_ADDED_EVENT, TEXT_ADDED_EVENT, OPEN_NOTARY_FORM_EVENT,
  SIGNATURE_BUTTON_CLICKED_EVENT
} from '../../constants/events'
import GraphicNode from '../../models/GraphicNodes/GraphicNode'
import { nodesMixin, signatureBoxPointerMixin, documentImagesMixing } from '../../mixins'

import type { Rectangle } from '../../interfaces/Rectangle'
import type { PdfPageMeta } from '../../interfaces/PdfPageMeta'

let ongoingTogglingProcess = null

export default {
  mixins: [nodesMixin, signatureBoxPointerMixin, documentImagesMixing],
  components: {
    VueDragResize,
    PreviewImageDocument,
    FormItem,
    EditNodeControls,
    OperationsMenu,
    PasswordPopup,
    RecordingScreenGraphic,
    IdViewer,
    MultiTextNodesCreator,
    TempAlert,
    SignatureBoxPointer
  },
  data: () => ({
    isSealButtonVisible: false,
    isNavOpened: false,
    isSealing: false,
    isSignatureVisible: false,
    isCanvasShown: false,
    notarySession: null,
    documentUrl: null,
    document: {
      height: 0,
      width: 0
    },
    currentPageNumber: null,
    officialFiles: [],
    addedImages: [],
    textNodes: [],
    realDocumentWidth: 0,
    realDocumentHeight: 0,
    model: new NotaryRecordModel(),
    activeNode: null,
    editableTextNode: null,
    isEditDialogOpened: false,
    documentLinks: new DocumentLinks(),
    draggableOffset: getDraggableOffset(),
    isDocumentRendered: false,
    applyButtonLeftOffset: 0,
    isPasswordDialogOpened: false,
    isNotaryRecordValid: false,
    errorMessage: null,
    certificateName: null,
    documentModel: null,
    currentDocument: null,
    isLastDocument: false,
    isCreateTextNodesDialogOpened: false,
    textNodesData: {
      principalName: null,
      county: null,
      commissionExpirationDate: null,
      isSet: false
    },
    infoMessage: null,
    infoMessageDuration: 15000,
    documentCanvasParams: null
  }),
  computed: {
    ...mapState(['stage', 'settings', 'user', 'userInfo', 'events', 'official', 'typeOfNotarization']),
    isSigned () {
      return this.stage === USER_SIGNED
    },
    isInSigningProcess () {
      return this.stage === USER_SIGNING_PROCESS_START
    },
    borderClass () {
      if (!this.isDocumentRendered) {
        return ''
      }

      if (this.isInSigningProcess) {
        return 'in-signing-process'
      }

      if (this.isSigned) {
        return 'in-sealing-process'
      }

      return ''
    }
  },
  watch: {
    events (events: Array<string>, prev: Array<string>): ?Array<string> {
      if (areArraysEq(events, prev)) {
        return events
      }

      const lastEvent = events && events[events.length - 1]

      if (!lastEvent) {
        return events
      }

      this.infoMessage = this.getEventMessage(lastEvent)
    },
    async stage (stage: string): Promise<void> {
      const documents = await this.notarySession.getDocuments()

      this.currentDocument = getCurrentDocument(documents)
      this.configureCurrentDocumentImages(documents, this.currentDocument)

      if (stage === USER_SIGNED) {
        this.documentUrl = this.documentLinks.signed
      } else if (stage === USER_SIGNING_PROCESS_START) {
        this.documentUrl = this.documentLinks.original
      } else {
        this.documentUrl = this.documentLinks.sealed
      }
    }
  },
  async mounted () {
    this.notarySession = NotarySession.init()

    const sessionId = this.notarySession.getSessionId()

    initMeeting('official', {
      ...this.settings,
      sessionId
    })

    const db = await RemoteStorage()
    const documents = await this.notarySession.getDocuments()

    this.currentDocument = getCurrentDocument(documents)
    this.configureCurrentDocumentImages(documents, this.currentDocument)

    this.isLastDocument = isLastDocumentUnprocessed(documents)
    this.documentLinks.setDocument(this.currentDocument)
    this.documentModel = Document.create(db)
    this.preFillModel()
    this.applyButtonLeftOffset = this.calculateApplyButtonOffset()

    const [officialFiles, officialInfo] = await Promise.all([
      this.notarySession.getOfficialFiles(),
      this.notarySession.geOfficialInfo()
    ])

    this.documentUrl = this.documentLinks.original
    this.officialFiles = officialFiles
    this.certificateName = officialInfo && officialInfo.digitalSignatureFilename

    this.preFillTextNodesData()
  },
  methods: {
    onDocumentRendered (document: any) {
      this.document = document
      this.isDocumentRendered = true
    },
    onPageChanged ({ pageNumber, realWidth, realHeight, canvas }: PdfPageMeta) {
      this.currentPageNumber = pageNumber
      this.realDocumentWidth = realWidth
      this.realDocumentHeight = realHeight
      this.documentCanvasParams = canvas
    },
    addImage ({ url }: { url: string }, type: string) {
      const imageNode = new ImageNode()
        .setType(type)
        .setIndex(this.addedImages.length)
        .setOffset(this.draggableOffset)
        .setUrl(url)
        .setPageNumber(this.currentPageNumber)
        .setDocumentWidth(this.document.width)
        .setDocumentHeight(this.document.height)

      this.addedImages.push(imageNode)
      this.notarySession.addEvent(`${IMAGE_ADDED_EVENT}.${type.toUpperCase()}`, this.events)
    },
    deleteActiveNode () {
      let oldCollectionKey

      if (!this.activeNode) {
        return false
      }

      if (this.activeNode instanceof TextNode) {
        oldCollectionKey = 'textNodes'
      } else if (this.activeNode instanceof ImageNode) {
        oldCollectionKey = 'addedImages'
      }

      if (!oldCollectionKey) {
        return false
      }

      const collection = []
      for (let i = 0; i < this[oldCollectionKey].length; i++) {
        if (this[oldCollectionKey][i].id !== this.activeNode.id) {
          collection.push(this[oldCollectionKey][i])
        }
      }

      this[oldCollectionKey] = collection
      this.activeNode = null

      return true
    },
    fixActiveNode () {
      if (!this.activeNode) {
        return false
      }

      this.activeNode.setFixed()
      this.activeNode = null
    },
    async applyNotaryRecord () {
      this.isNavOpened = false
      this.isSealButtonVisible = true

      const items = [this.addedImages, this.textNodes]

      for (let i = 0; i < items.length; i++) {
        for (let j = 0; j < items[i].length; j++) {
          if (items[i][j] && typeof items[i][j].setFixed === 'function') {
            items[i][j].setFixed()
          }
        }
      }

      await this.notarySession.saveNotaryRecord(this.model.getData())
    },
    async seal ({ password }: { password: string }) {
      this.isSealing = true

      const signature = await this.notarySession.getSignatureInfo({ password })
      const sessionId = this.notarySession.getSessionId()
      const images = this.addedImages.map((item) => {
        const { url, id, pageNumber } = item
        const { top, left } = this.$refs[id] && this.$refs[id][0]
        const { height, width } = item.imageAttributes
        const data = item.calculatePosition({
          realParentHeight: this.realDocumentHeight,
          realParentWidth: this.realDocumentWidth,
          currentParentHeight: this.document.height,
          currentParentWidth: this.document.width,
          currentTop: top,
          currentLeft: left - this.document.left,
          currentWidth: width,
          currentHeight: height
        })

        return {
          ...data,
          page: pageNumber - 1,
          url
        }
      })
      const destination = getSealedDocumentKey(this.currentDocument)
      const data = {
        images,
        signature,
        destination,
        sessionId,
        documentUrl: this.documentUrl,
        texts: this.scaleTextNodes()
      }

      try {
        const { url } = await this.notarySession.seal(data)

        if (!url) {
          return
        }

        this.isPasswordDialogOpened = false
        this.documentUrl = url
        this.clearNodes()

        await this.documentModel.setNotarized(this.currentDocument.id, extractPathFromUrl(url))
        await this.notarySession.convertDocument(this.currentDocument.id, { stage: DOCUMENT_SEALED_STAGE })
        await NotarySession.commitStage(OFFICIAL_SEALED)
      } catch (e) {
        let errorMessage = extractHttpErrorMessage(e)

        if (errorMessage && errorMessage.indexOf('Failed to decrypt certificate') >= 0) {
          errorMessage = 'Wrong password'
        }

        this.errorMessage = errorMessage
      } finally {
        this.isSealing = false
      }
    },
    onResizing (d: Rectangle, item: ImageNode) {
      const { height, width } = item.getNormalizedSize(d)

      d.height = height
      d.width = width

      const imageHeight = d.height - this.draggableOffset * 2
      const imageWidth = d.width - this.draggableOffset * 2

      item.resetImageAttributes({ width: imageWidth, height: imageHeight })
    },
    onTextResizing (d: Rectangle, item: TextNode): void {
      item.setWidth(d.width)
    },
    async toggleActiveNode (node: GraphicNode, status: boolean): Promise<void> {
      if (ongoingTogglingProcess) {
        clearTimeout(ongoingTogglingProcess)
      }

      if (!status) {
        ongoingTogglingProcess = setTimeout(() => { this.activeNode = null }, 200)
        return
      }

      this.activeNode = node
    },
    editActiveNode () {
      this.editableTextNode = this.activeNode
      this.isEditDialogOpened = true
    },
    loaded (item: ImageNode) {
      item.setImage(this.$refs[item.imageId][0])
    },
    calculateApplyButtonOffset () {
      const containerWidth = this.$refs.toolbar.$el.clientWidth
      const buttonWidth = 200
      const offset = (containerWidth - buttonWidth) / 2

      return `${offset}px`
    },
    preFillModel () {
      this.model.setProp('signerName', this.user.fullName)
        .setProp('idEvidence', this.notarySession.isKBAFlow() ? KBA_ID_EVIDENCE : PERSONAL_KNOWLEDGE_EVIDENCE)

      if (this.typeOfNotarization !== null) {
        this.model.setProp('typeOfNotarization', this.typeOfNotarization)
      }

      if (this.currentDocument) {
        const date = tryExec(() => getFormattedDate(
          DATE_FORMAT_FULL, new Date(this.currentDocument.date._seconds * 1000)
        ))

        this.model.setProp('documentId', this.currentDocument.id)
          .setProp('documentName', this.currentDocument.name)
          .setProp('documentDate', date)
      }

      if (this.userInfo) {
        this.model.setProp('signerAddress', this.userInfo.address1)
          .setProp('signerCity', this.userInfo.city)
      }
    },
    openNotaryForm () {
      this.isNavOpened = true
      this.$refs.notaryForm.validate()
      this.notarySession.addEvent(OPEN_NOTARY_FORM_EVENT, this.events)
    },
    scaleTextNodes () {
      const textLeftOffset = 5
      const textTopOffset = textLeftOffset + 2
      const textFontSizeFactor = 1.4
      const color = '000000'

      return this.textNodes.map(({ id, textId, text, pageNumber, width }) => {
        const ref = this.$refs[id] && this.$refs[id][0]
        const textNodeRef = this.$refs[textId] && this.$refs[textId][0]
        const left = scale(
          toInt(ref.left - this.document.left) + textLeftOffset, this.realDocumentWidth, this.document.width
        )
        const top = scale(toInt(ref.top) + textTopOffset, this.realDocumentHeight, this.document.height)
        const fontSize = scale(
          toInt(textNodeRef.style.fontSize), this.realDocumentWidth, this.document.width
        ) * textFontSizeFactor
        const page = pageNumber - 1
        const resWidth = scale(toInt(width), this.realDocumentWidth, this.document.width)

        return { top, left, text, color, fontSize, page, width: resWidth }
      })
    },
    openMultiTextCreator () {
      this.isCreateTextNodesDialogOpened = true
      this.notarySession.addEvent(TEXT_ADDED_EVENT, this.events)
    },
    addTextNodes (nodes: ImageNode[]) {
      this.isCreateTextNodesDialogOpened = false

      let nextYPos = 0

      for (let i = 0; i < nodes.length; i++) {
        const textNode = new TextNode({
          id: this.textNodes.length,
          number: i
        }).setPageNumber(this.currentPageNumber)
          .setText(nodes[i].value)
          .setDocumentWidth(this.document.width)
          .setStartPosition({ y: nextYPos })
          .calculate()
        const { y } = textNode.getEndPosition()
        const { bottom } = textNode.getOffset()

        nextYPos = y + bottom

        this.textNodes.push(textNode)
      }
    },
    preFillTextNodesData () {
      this.textNodesData = {
        county: this.official && this.official.county,
        principalName: joinIfNotEmpty(this.userInfo.firstName, this.userInfo.lastName),
        commissionExpirationDate: this.official && this.official.commissionExpirationDate,
        isSet: true
      }
    },
    async scaleNode (direction: number = 1): Promise<void> {
      this.toggleActiveNode(this.activeNode, true)

      if (direction > 0) {
        this.activeNode.fontSize++
      } else {
        this.activeNode.fontSize--
      }
    },
    getEventMessage (lastEvent: string) {
      if (lastEvent === SIGNATURE_BUTTON_CLICKED_EVENT) {
        return 'SIGNATURE BUTTON CLICKED -  Direct the principal to click the "CONFIRM SIGNATURE" button (on the ' +
          'bottom margin of the screen) once the signature is properly placed on the applicable signature space.'
      }

      return null
    }

  }
}
</script>
