<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0">
      <v-toolbar-title>
        <div v-if="isMultipleDocuments !== null">
          <span>Review and confirm record&nbsp;</span>
          <span v-if="isMultipleDocuments === true">entries</span>
          <span v-else-if="isMultipleDocuments === false">entry</span>
        </div>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="isClosed" class="pl-2">
        <div class="text--info pt-2">
          Session successfully finished. You can now close this window.
        </div>
      </v-toolbar-items>
      <v-btn
        v-if="!isClosed && isRecordUploaded"
        @click="finish"
        :disabled="!isFormValid"
        :loading="isLoading"
        color="info"
        large
      >
        Confirm and close
      </v-btn>
    </v-toolbar>
    <v-container fill-height color="gray" class="content-container fill-height-with-toolbar pt-0">
      <v-layout justify-space-between column>
        <div>
          <div class="text-xs-center">
            <v-tabs
              v-model="documentSelectedIndex"
              fixed-tabs
              show-arrows
              slider-color="info"
              color="transparent"
              class="v-tabs--divided"
            >
              <v-tab v-for="(doc, i) in documents" @click="selectDocument(doc)" :key="i">
                {{ doc.name }}
              </v-tab>
            </v-tabs>
          </div>
          <v-form v-if="currentNotaryRecord" ref="form" v-model="isFormValid">
            <div class="item mt-2" v-for="element in currentNotaryRecord.getFormElements()" :key="element.property">
              <FormItem :element="element" :model="currentNotaryRecord"></FormItem>
            </div>
          </v-form>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { truncate } from '../../services/utils'
import Document from '../../models/Documents/Document'
import RemoteStorage from '../../services/RemoteStorage'
import FormItem from '../../components/FormItems/FormItem'
import { NotarySession } from '../../services/NotarySession'
import { DEFAULT_MODE, SESSION_MODE } from '../../constants/sessionModes'
import { PAYMENT_BY_PAYER, USER_SESSION_ENDED } from '../../constants/stages'
import { NotaryRecordModel, KBA_ID_EVIDENCE, PERSONAL_KNOWLEDGE_EVIDENCE } from '../../models/NotaryRecordModel'

const maxTabNameLength = 30

export default {
  components: { FormItem },
  data: () => ({
    isClosed: false,
    isLoading: false,
    isFormValid: false,
    currentNotaryRecord: null,
    notarySession: NotarySession.init(),
    isMultipleDocuments: null,
    documentSelectedIndex: null,
    documents: [],
    notaryRecords: {}
  }),
  computed: {
    ...mapState(['isRecordUploaded'])
  },
  async mounted () {
    const [db] = await Promise.all([
      RemoteStorage(),
      this.setModelData()
    ])
    const model = Document.create(db)

    this.documents = await model.getAllBySessionId(this.notarySession.getSessionId())

    for (let i = 0; i < this.documents.length; i++) {
      this.documents[i].name = truncate(this.documents[i].name, maxTabNameLength)
    }

    this.isMultipleDocuments = this.documents.length > 1
    this.documentSelectedIndex = 0
    this.selectDocument(this.documents[0])

    await this.notarySession.updateSession({ finishedAt: new Date() })
  },
  methods: {
    selectDocument ({ id }) {
      this.currentNotaryRecord = this.notaryRecords[id]
    },
    async finish () {
      this.isLoading = true

      const documentIds = Object.keys(this.notaryRecords)
      const updatePromises = []

      for (let i = 0; i < documentIds.length; i++) {
        const model = this.notaryRecords[documentIds[i]]

        updatePromises.push(
          this.notarySession.updateNotaryRecord(model.getData(), model.id)
        )
      }

      const mode = this.notarySession.getMode()

      try {
        await Promise.all(updatePromises)

        if (mode === DEFAULT_MODE) {
          await this.notarySession.sendNotification()
        }
      } catch (e) {
        console.error(e)
      }

      this.isLoading = false
      this.isClosed = true

      if (mode === SESSION_MODE) {
        await this.notarySession.sendPaymentLinkEmail()
        await NotarySession.commitStage(PAYMENT_BY_PAYER)
      } else if (mode === DEFAULT_MODE) {
        await NotarySession.commitStage(USER_SESSION_ENDED)
      }

      window.close()
    },
    async setModelData () {
      const notaryRecords = await this.notarySession.getNotaryRecords()

      for (let i = 0; i < notaryRecords.length; i++) {
        const data = {
          ...notaryRecords[i].data(),
          id: notaryRecords[i].id
        }

        if (!data.documentId) {
          continue
        }

        const model = new NotaryRecordModel()
          .setData(data)
          .setProp('id', data.id)
          .setProp('status', 'finished')
          .setProp('finishedAt', new Date())

        if (!model.idEvidence) {
          model.setProp(
            'idEvidence',
            this.notarySession.isKBAFlow() ? KBA_ID_EVIDENCE : PERSONAL_KNOWLEDGE_EVIDENCE
          )
        }

        this.notaryRecords[model.documentId] = model
      }
    }
  }
}
</script>
