<template>
  <v-container class="main-container">
    <IdViewer />
    <PopupIdViewer :top="idPopupPreviewerTop" />
    <v-toolbar v-if="isKBAFlow" color="elevation-0" ref="toolbar" class="toolbar-with-action-buttons">
      <div class="pl-5">
        <RecordingScreenGraphic />
      </div>
      <v-spacer></v-spacer>
      <OperationsMenu />
    </v-toolbar>
    <v-container text-xs-center color="gray" class="fill-height-with-toolbar pa-0">
      <v-layout v-if="shouldShowCamera === false" align-center justify-center column fill-height>
        <v-flex v-if="isUserInSession === false" xs5>
          <div class="headline text--info">Waiting for principal to enter session</div>
          <div class="pa-4">
            <i class="far fa-hourglass small-icon"></i>
          </div>
        </v-flex>
        <v-flex v-else xs5>
          <div class="headline text--success">Principal has entered the session</div>
          <v-btn @click="officialAgreedToStart = true" large color="info mt-4 x-large">Click here to join session</v-btn>
        </v-flex>
      </v-layout>
      <v-layout v-else align-center justify-space-around column>
        <div v-if="isKBAFlow === false" class="item pt-4 text--medium-fixed">
          <div v-if="isParticipantReady === false" class="text-xs-center">
            Waiting for
            <span class="text--success">{{ userFullName }}</span> to enter room
          </div>
          <div v-else class="text-xs-center">
            Online session is in progress with
            <span class="text--success">{{ userFullName }}</span>
          </div>
        </div>

        <v-layout wrap row class="full-width mt-3">
          <v-layout wrap row class="full-width mt-3">
            <v-flex xs6>
              <div id="local-media" class="video-container"></div>
            </v-flex>
            <v-flex xs6>
              <div v-show="isUserVideoVisible" id="remote-media" class="video-container"></div>
              <v-layout v-if="!isUserVideoVisible" class="official-video-placeholder" align-center justify-center column fill-height>
                <v-icon class="screen-icon-logo" color="info">fas fa-video</v-icon>
              </v-layout>
            </v-flex>

            <v-flex xs5 offset-xs1>
              <v-layout v-if="isUserDataVisible" wrap row align-end class="full-width">
                <v-form ref="form" v-model="isPersonalFormValid">
                  <div v-for="element in personalDetails.getFormElements()" :key="element.property" class="low">
                    <FormItem :element="element" :model="personalDetails" inputClass="pa-0 pt-1" />
                  </div>
                  <DateFormItems :model="personalDetails" />
                </v-form>
              </v-layout>
            </v-flex>

            <v-flex v-if="isKBAFlow" xs5 class="text-xs-left mt-3">
              <v-flex offset-xs1>
                <KBAProgress v-if="!isRecordingInProgress" />
                <div v-if="verificationFailData.length" class="text--error">
                  <div class="font-weight-bold">ID recognition errors:</div>
                  <div v-for="(log, i) in verificationFailData" :key="i">Capture #{{ i + 1 }}: {{ log }}</div>
                </div>
              </v-flex>
              <PlainIdViewer v-show="isUserDataVisible" class="pa-3" />
            </v-flex>

            <v-flex v-if="isUserDataVisible" xs12>
              <div class="text--error text-xs-left">{{ errorMessage }}</div>
              <v-btn @click="updatePersonalDetails" :disabled="!isPersonalFormValid" :loading="isSessionUpdating" color="info" large>Confirm & continue</v-btn>
            </v-flex>
          </v-layout>

          <v-flex v-if="isStartSessionButtonVisible" xs11 offset-xs1>
            <SigningRules @onSigningRulesChecked="isSigningButtonVisible = true" :additionalQuestions="[`Have you stated that the principal is 'personally known' to you?`]"/>
            <v-btn v-if="isSigningButtonVisible" @click="toNextStage()" large color="success mt-4 x-large">Start signing process</v-btn>
          </v-flex>

          <v-flex v-if="isRetakeButtonVisible" xs12 class="mt-3">
            <v-btn @click="retakeQuiz()" color="error" large>Start retake of identity proofing quiz</v-btn>
          </v-flex>
          <v-flex v-if="isKBAFailed && !isRetakeAvailable" xs12 class="mt-3">
            <div class="error--text mt-4 font-weight-bold" >Principal must wait at least 24 hours to re-take the identity proofing test</div>
          </v-flex>

          <v-flex v-if="!isUserDataVisible && isKBAFlow && areKbaRulesVisible" xs11 offset-xs1 class="mt-3">
            <KBARules />
          </v-flex>
          <v-flex v-else-if="isKBAFlow && isStartQuizBlockVisible" xs12 class="mt-3">
            <KBAStartQuiz />
          </v-flex>

          <v-flex v-if="isKBASuccess && isRecordingInProgress" xs12>
            <v-flex v-if="areSigningRulesVisible ===false" xs12>
              <v-layout row wrap>
                <v-flex xs6 class="text--success text-xs-right">
                  <div class="subheading">Principal's identity is verified</div>
                  <div class="body-2">Credential analysis - PASSED</div>
                  <div class="body-2">Identity Proofing - PASSED</div>
                  <v-checkbox @click="areSigningRulesVisible = true" label="I have visually confirmed the principal's identity through my visual inspection of the above-displayed credential." class="small-font"></v-checkbox>
                </v-flex>
                <v-flex xs5>
                  <PlainIdViewer class="pl-3 pr-3" />
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex v-else xs11 offset-xs1>
              <SigningRules @onSigningRulesChecked="isSigningButtonVisible = true" />
            </v-flex>
            <v-btn v-if="isSigningButtonVisible"  @click="toNextStage()" large color="success mt-4 x-large">Start signing process</v-btn>
          </v-flex>

          <v-flex v-show="isKBASuccess" xs12 class="mt-3">
            <div v-if="isSetUpRecordingButtonVisible">
              <v-btn @click="handleStartRecording" color="error" large>
                <i class="icon-desktop text--white mr-3 button-icon"></i>
                Set up screen recording session
              </v-btn>
            </div>
            <StartRecordingPopup v-if="isRecordingPopupVisible" :sessionId="session.getSessionId()"/>
          </v-flex>

          <v-flex v-if="!isKBAFlow && !isRecordingInProgress" xs12 class="mt-3">
            <div>
              <v-btn @click="handleStartRecording" color="error" large>
                <i class="icon-desktop text--white mr-3 button-icon"></i>
                Set up screen recording session
              </v-btn>
            </div>
            <StartRecordingPopup v-if="isRecordingPopupVisible" :sessionId="session.getSessionId()"/>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
// @flow
import { mapState, mapMutations } from 'vuex'
import {
  getElementCoordsById,
  joinIfNotEmpty,
  tryExec
} from '../../services/utils'
import {
  OFFICIAL_IN_ROOM, KBA_START, KBA_FAILS,
  KBA_SUCCESS, USER_IN_ROOM, START,
  isStageAfterOrEq, CHECK_PERSONAL_DETAILS, isStageBefore, ID_VERIFICATION_FAILED
} from '../../constants/stages'
import { initMeeting, startRecording } from '../../assets/js/twiliovideo.js'
import { NotarySession } from '../../services/NotarySession'
import {
  RecordingScreenGraphic,
  KBAProgress,
  KBARules,
  KBAStartQuiz,
  OperationsMenu,
  IdViewer,
  SigningRules,
  PopupIdViewer,
  FormItem,
  DateFormItems,
  PlainIdViewer
} from '../../components'
import {
  KBA_QUIZ_START_ALLOWED,
  KBA_RULES_ACCEPTED,
  KBA_USER_DATA_CONFIRMED,
  NO_SUB_STAGE,
  SET_RECORDING_CLICKED
} from '../../constants/subStages'
import { setErrorMixin } from '../../mixins'
import PersonalDetailsModel from '../../models/PersonalDetailsModel'
import { KBA_QUESTIONS_FETCH_ERROR } from '../../messages/official.en'
import type { PersonalDetailsData } from '../../models/PersonalDetailsModel'

export default {
  mixins: [setErrorMixin],
  components: {
    RecordingScreenGraphic,
    KBAProgress,
    KBARules,
    KBAStartQuiz,
    OperationsMenu,
    IdViewer,
    SigningRules,
    PopupIdViewer,
    FormItem,
    DateFormItems,
    PlainIdViewer
  },
  data: () => ({
    isSigningButtonVisible: false,
    isKBAFlow: false,
    isParticipantReady: false,
    switchToRecordingClicked: false,
    session: NotarySession.init(),
    isMeetingInitialized: false,
    officialAgreedToStart: false,
    personalDetails: new PersonalDetailsModel(),
    isPersonalFormValid: false,
    isSessionUpdating: false,
    idPopupPreviewerTop: '50vh',
    areSigningRulesVisible: false,
    verificationFailData: []
  }),
  computed: {
    userFullName (): string {
      return this.user
        ? joinIfNotEmpty(this.user.firstName, this.user.lastName)
        : ''
    },
    isUserVideoVisible (): boolean {
      return this.isParticipantReady
    },
    isStartSessionButtonVisible (): boolean {
      return (
        !this.isKBAFlow && this.isParticipantReady && this.isRecordingInProgress
      )
    },
    isSetUpRecordingButtonVisible (): boolean {
      return (
        !this.switchToRecordingClicked &&
        !this.isStartSessionButtonVisible &&
        this.stage === KBA_SUCCESS
      )
    },
    isRecordingPopupVisible (): boolean {
      return this.switchToRecordingClicked && !this.isRecordingInProgress
    },
    isKBAFailed (): boolean {
      return this.stage === KBA_FAILS
    },
    isKBASuccess (): boolean {
      return this.stage === KBA_SUCCESS
    },
    isRetakeButtonVisible (): boolean {
      return this.isKBAFlow && this.isKBAFailed && this.isRetakeAvailable
    },
    isRetakeAvailable (): boolean {
      return this.retakes === undefined || this.retakes === 0
    },
    isUserInSession (): boolean {
      return this.stage !== START
    },
    shouldShowCamera (): boolean {
      if (this.isUserInSession && this.officialAgreedToStart) {
        this.initializeMeeting()

        return true
      }

      return false
    },

    areKbaRulesVisible (): boolean {
      const isNeededStage =
        isStageAfterOrEq(this.stage, USER_IN_ROOM, this.session.flow) &&
        isStageBefore(this.stage, KBA_SUCCESS, this.session.flow)

      return isNeededStage && this.subStage === NO_SUB_STAGE
    },
    isUserDataVisible (): boolean {
      const isNeededStage = isStageAfterOrEq(
        this.stage,
        USER_IN_ROOM,
        this.session.flow
      )

      return (
        this.stage === CHECK_PERSONAL_DETAILS ||
        (isNeededStage && this.subStage === KBA_RULES_ACCEPTED)
      )
    },
    isStartQuizBlockVisible (): boolean {
      const isNeededStage = isStageAfterOrEq(
        this.stage,
        USER_IN_ROOM,
        this.session.flow
      )

      return isNeededStage && this.subStage === KBA_USER_DATA_CONFIRMED
    },
    ...mapState([
      'user',
      'stage',
      'settings',
      'isRecordingInProgress',
      'subStage',
      'retakes',
      'userInfo'
    ])
  },
  mounted (): void {
    this.isKBAFlow = this.session.isKBAFlow()

    if (this.user) {
      this.personalDetails.populate(this.user)
    }

    if (this.userInfo) {
      this.personalDetails.populate(this.userInfo)
    }
  },
  watch: {
    stage: {
      immediate: true,
      handler (val: string): void {
        if (val === ID_VERIFICATION_FAILED) {
          tryExec(async () => {
            const {
              response: { errorLogs }
            } = await this.session.getSessionErrorLogs()

            this.verificationFailData = errorLogs.map(
              ({ extra: { evidence } }) =>
                Object.values(evidence[0].images[0].processingReasons).join(
                  ', '
                ),
              ''
            )
          })
        }

        if (val === CHECK_PERSONAL_DETAILS) {
          this.errorMessage = KBA_QUESTIONS_FETCH_ERROR
          this.personalDetails.restoreFormElements('ssn')
        } else {
          this.personalDetails.removeFormElements('ssn')
        }
      }
    },
    subStage (val: string): void {
      if (val === KBA_QUIZ_START_ALLOWED) {
        this.toNextStage(KBA_START)
      }
    },
    isRecordingInProgress (val: boolean): void {
      if (val) {
        this.setSubStage(SET_RECORDING_CLICKED)
      }
    },
    userInfo: {
      handler (data: PersonalDetailsData): void {
        if (data) {
          this.personalDetails.populate(data)
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations(['showIdPopupPreviewer', 'setSubStage', 'setRecordingIsInProgress']),
    async handleStartRecording  (): Promise<void> {
      this.switchToRecordingClicked = true

      if (!this.isKBAFlow) {
        await NotarySession.commitStage(OFFICIAL_IN_ROOM)
      }

      await startRecording()

      this.setRecordingIsInProgress()
    },
    toNextStage (stage: string | null = null): Promise<any> {
      return stage
        ? NotarySession.commitStage(stage)
        : NotarySession.toNextStage(this.stage)
    },
    retakeQuiz () {
      NotarySession.commitStage(KBA_START, { retakes: this.retakes + 1 })
    },
    initializeMeeting (): void | boolean {
      if (this.isMeetingInitialized) {
        return true
      }

      const sessionId = this.session.getSessionId()

      initMeeting('user', {
        onParticipantJoined: () => {
          this.isParticipantReady = true

          const videoCoords = getElementCoordsById('local-media')

          if (videoCoords) {
            this.idPopupPreviewerTop = videoCoords.bottom
          }
        },
        onParticipantDisconnected: () => {
          this.isParticipantReady = false
        },
        ...this.settings,
        sessionId
      })

      this.isMeetingInitialized = true
    },
    async updatePersonalDetails (): Promise<any> {
      this.isSessionUpdating = true
      this.errorMessage = null

      const updateData = { userInfo: this.personalDetails.getData() }

      try {
        if (this.stage === CHECK_PERSONAL_DETAILS) {
          await this.session.commitStage(KBA_START, updateData)
        } else {
          await this.session.updateSession(updateData)
        }

        this.setSubStage(KBA_USER_DATA_CONFIRMED)
      } catch (e) {
        this.errorMessage = e.message
      } finally {
        this.isSessionUpdating = false
      }
    }
  }
}
</script>
