<template>
  <v-container class="main-container">
    <v-container text-xs-center justify-space-between fill-height color="gray">
      <v-layout justify-space-between row wrap>
        <v-flex xs6>
          <div id="local-media" class="half-width"></div>
        </v-flex>
        <v-flex xs6>
          <div id="remote-media" class="quarter-width pull-right"></div>
        </v-flex>
        <v-flex xs12>
          <v-btn
            v-if="areDocumentsLeft === true"
            @click="nextDocument"
            large
            color="success"
            class="subheading"
          >
            Go to next document
          </v-btn>
          <v-btn @click="endSession" large color="error" class="subheading">End session</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <ScreenRecorderWatcher v-if="!!notarySession" :session="notarySession" />
  </v-container>
</template>
<script>
import { mapState, mapMutations } from 'vuex'
import Document from '../../models/Documents/Document'
import { ScreenRecorderWatcher } from '../../components'
import RemoteStorage from '../../services/RemoteStorage'
import { getCurrentDocument } from '../../services/utils'
import { NotarySession } from '../../services/NotarySession'
import { initMeeting, leaveMeeting, stopRecording } from '../../assets/js/twiliovideo'
import { WAITING_FOR_THE_DOCUMENT, SESSION_ENDED } from '../../constants/stages'

export default {
  components: { ScreenRecorderWatcher },
  data: () => ({
    notarySession: NotarySession.init(),
    areDocumentsLeft: null
  }),
  computed: {
    ...mapState(['settings', 'stage', 'requestId'])
  },
  async mounted () {
    const sessionId = this.notarySession.getSessionId()

    initMeeting('official', { ...this.settings, sessionId })
      .catch(console.error)

    const model = Document.create(await RemoteStorage())
    const documents = await model.getAllBySessionId(sessionId)

    this.areDocumentsLeft = documents && documents.length > 1 && !!getCurrentDocument(documents)
  },
  methods: {
    ...mapMutations(['setRecordUploaded']),
    async endSession () {
      const recordingId = window.room.sid

      await stopRecording()

      leaveMeeting()
      this.setRecordUploaded()

      await Promise.all([
        this.notarySession.triggerComposition(recordingId)
          .catch(console.error),
        this.notarySession.updateThroughAPI(this.notarySession.getSessionId(), { stage: SESSION_ENDED })
      ])

      return NotarySession.commitStage(SESSION_ENDED)
    },
    async nextDocument () {
      await NotarySession.commitStage(WAITING_FOR_THE_DOCUMENT)
    }
  }
}
</script>
