<template>
  <div>
    <v-bottom-sheet :value="isSupportWindowVisible" persistent>
      <v-list class="pb-5">
        <div v-if="isDesktopClient" class="item full-width mt-3">
          <v-layout justify-center row>
            <v-flex xs1>
              <span class="text--error text--50 icon-circle" />
            </v-flex>
            <v-flex xs10 class="subheading text--error text-xs-left">
              If you experience issues with your computer's video or audio, you can use your Android phone or iPhone to
              join this notary session. To do so, close this window on your computer and click the notary session email
              invite link on your phone.
            </v-flex>
            <v-flex xs1>
              <v-btn @click="hideSupportWindow" icon>
                <v-icon>close</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </div>
        <v-subheader>
          <span>User support</span>
          <v-spacer></v-spacer>
          <v-btn v-if="isMobileClient" @click="hideSupportWindow" icon>
            <v-icon>close</v-icon>
          </v-btn>
        </v-subheader>
        <v-layout>
          <v-flex class="pl-3 pr-3 body-1">
            Email <a :href="`mailto:${supportEmail}`">{{ supportEmail }}</a> or click the live chat button below.
          </v-flex>
        </v-layout>
      </v-list>
    </v-bottom-sheet>
  </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex'
import { isMobileMixin } from '../../mixins'
import { NotarySession } from '../../services/NotarySession'
import { ROLE_OFFICIAL } from '../../constants/roles'
import { getCurrentRole, waitForZopim } from '../../services/utils'

export default {
  mixins: [isMobileMixin],
  data: () => ({
    supportEmail: 'support@onlinenotary.us',
    notarySession: null
  }),
  computed: {
    ...mapState(['isSupportWindowVisible', 'official'])
  },
  watch: {
    async isSupportWindowVisible (val) {
      const zopim = await waitForZopim(window)

      if (val) {
        return zopim.livechat.button.show()
      }

      return zopim.livechat.hideAll()
    }
  },
  async mounted () {
    this.notarySession = NotarySession.init()
    const endPointUrl = process.env.VUE_APP_SUPPORT_ENDPOINT_URL
    const sessionId = this.notarySession.getSessionId()
    const url = `${endPointUrl}?sessionid=${sessionId}`
    const { name, email, number } = await this.notarySession.geOfficialInfo()

    try {
      const zopim = await waitForZopim(window)

      zopim.livechat.setNotes(`${name}, ${email}, ${number}`)

      zopim.livechat.sendVisitorPath({
        url: url,
        title: 'Link to session logs'
      })

      if (getCurrentRole() !== ROLE_OFFICIAL) {
        zopim.livechat.hideAll()
      }
    } catch (e) {
      console.error(e)
    }
  },
  methods: {
    ...mapMutations(['hideSupportWindow'])
  }
}
</script>
