<style>
.btn--help {
  min-width: 71px;
}
</style>
<template>
  <v-btn @click="showSupportWindow" small flat color="accent" class="pa-0 ml-0 mr-0 btn--help">
    Help
    <span class="icon-headset ml-1 text--20"></span>
  </v-btn>
</template>
<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations(['showSupportWindow'])
  }
}
</script>
