<template>
  <div>
    <div>
      <span>Principal: </span>
      <span class="font-weight-bold">{{ userFullName }}</span>
    </div>
    <div v-for="element in stageProgress" :key="element.text">
      <span>{{ element.text }}: </span>
      <span class="font-weight-bold" :class="getStepClass(element.steps)">{{ getStepText(element.steps) }}</span>
    </div>
    <div v-if="device">
      <span>Principal device: </span>
      <span class="font-weight-bold">{{ device }}</span>
    </div>
  </div>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import { joinIfNotEmpty } from '../../services/utils'
import { NotarySession } from '../../services/NotarySession'
import {
  ID_VERIFICATION_FRONT, PERSONAL_DETAILS, KBA_START,
  KBA_SUCCESS, KBA_FAILS, ID_VERIFICATION_FAILED,
  isStageBefore, isStageAfterOrEq
} from '../../constants/stages'
import UserAgentService from '../../services/UserAgentService'

interface Step {
  text: string,
  class?: string,
  startStage?: string,
  endStage?: string,
  exactStage?: string
}

export default {
  data: (): Object => ({
    session: NotarySession.init(),
    stageProgress: [
      {
        text: 'Credentials analysis',
        steps: [
          {
            text: 'Failed',
            exactStage: ID_VERIFICATION_FAILED,
            class: 'text--error'
          }, {
            text: 'Not started',
            endStage: ID_VERIFICATION_FRONT
          }, {
            text: 'In process',
            class: 'text--warning',
            startStage: ID_VERIFICATION_FRONT,
            endStage: PERSONAL_DETAILS
          }, {
            text: 'Passed',
            class: 'text--success',
            startStage: PERSONAL_DETAILS
          }
        ]
      }, {
        text: 'Identity proofing quiz',
        steps: [
          {
            text: 'Failed',
            exactStage: KBA_FAILS,
            class: 'text--error'
          }, {
            text: 'Passed',
            exactStage: KBA_SUCCESS,
            class: 'text--success'
          }, {
            text: 'Not started',
            endStage: KBA_START
          }, {
            text: 'In process',
            startStage: KBA_START,
            endStage: KBA_SUCCESS,
            class: 'text--warning'
          }
        ]
      }
    ]
  }),
  computed: {
    ...mapState(['user', 'stage', 'settings', 'principalDevice']),
    userFullName (): string {
      return this.user ? joinIfNotEmpty(this.user.firstName, this.user.lastName) : ''
    },
    device (): ?string {
      if (this.principalDevice) {
        return joinIfNotEmpty(
          UserAgentService.decodeOS(this.principalDevice),
          UserAgentService.decodeBrowser(this.principalDevice)
        )
      }

      return null
    }
  },
  methods: {
    getStepText (steps: Array<Step>): string {
      const currentStep = this.getCurrentStep(steps)

      return (currentStep && currentStep.text) || ''
    },
    getStepClass (steps: Array<Step>): string {
      const currentStep = this.getCurrentStep(steps)

      return (currentStep && currentStep.class) || ''
    },
    getCurrentStep (steps: Array<Step>): ?Step {
      for (let i = 0; i < steps.length; i++) {
        const { startStage, endStage, exactStage } = steps[i]
        const isStageBeforeNeeded = isStageBefore(this.stage, endStage, this.session.flow)

        if (exactStage) {
          if (exactStage === this.stage) {
            return steps[i]
          }

          continue
        }

        if (!startStage && isStageBeforeNeeded) {
          return steps[i]
        }

        if (!endStage && isStageAfterOrEq(this.stage, startStage, this.session.flow)) {
          return steps[i]
        }

        if (isStageAfterOrEq(this.stage, startStage, this.session.flow) && isStageBeforeNeeded) {
          return steps[i]
        }
      }

      return null
    }
  }
}
</script>
