<template>
  <div>
    <div v-for="(rule, index) in rules" :key="index">
      <v-checkbox v-model="selectedRules" :label="rule" :value="index" hide-details class="small-font">
        {{ rule }}
      </v-checkbox>
    </div>
  </div>
</template>
<script>
// @flow
import { mapMutations, mapState } from 'vuex'
import { getNextSubStage } from '../../constants/subStages'

export default {
  data: () => ({
    rules: [
      'Notify the principal that you will be recording the notarization under state law',
      '(If applicable): Have you confirmed that at least 24 hours have elapsed since the principal last retook and ' +
      'failed their identity proofing quiz with you as the notary public?'
    ],
    selectedRules: []
  }),
  computed: {
    ...mapState(['subStage'])
  },
  watch: {
    selectedRules (val: Array<string>): void {
      if (this.rules.length === val.length) {
        this.setAllRulesSelected() // Legacy switch toggle usage
        this.setSubStage(getNextSubStage(this.subStage))
      }
    }
  },
  methods: {
    ...mapMutations(['setAllRulesSelected', 'setSubStage'])
  }
}
</script>
