<template>
  <v-flex xs12 class="mt-3">
    <v-btn @click="allowStartQuiz" color="info mt-4 x-large" large>
      Start identity proofing quiz
    </v-btn>
    <div class="font-italic mt-3">
      Notary public will not be able to see any of the identity proofing questions
    </div>
  </v-flex>
</template>
<script>
// @flow
import { mapMutations, mapState } from 'vuex'
import { getNextSubStage } from '../../constants/subStages'
import { NotarySession } from '../../services/NotarySession'

export default {
  computed: {
    ...mapState(['subStage'])
  },
  mounted () {
    this.$options.session = NotarySession.init()
  },
  methods: {
    allowStartQuiz (): void {
      this.setSubStage(getNextSubStage(this.subStage, this.$options.session.flow))
    },
    ...mapMutations(['setSubStage'])
  }
}
</script>
