<template>
  <div v-if="areRulesVisible">
    <div v-for="(rule, index) in rules" :key="index">
      <v-checkbox
        v-model="selectedRules"
        :label="rule"
        :value="index"
        hide-details
        class="small-font"
      >
        {{ rule }}
      </v-checkbox>
    </div>
  </div>
</template>
<script>
import { SIGNING_RULES_CHECKED } from '../../constants/events'

export default {
  props: {
    additionalQuestions: {
      type: Array
    }
  },
  data: () => ({
    areRulesVisible: true,
    selectedRules: []
  }),
  computed: {
    rules () {
      const defaultQuestions = [
        'Have you asked if the principal is acting according to his/her free will and is not acting under coercion ' +
        'or undue influence?',
        'Have you asked if the principal understands the nature and contents of the document that he/she is signing?'
      ]

      if (this.additionalQuestions instanceof Array) {
        return this.additionalQuestions.concat(defaultQuestions)
      }

      return defaultQuestions
    }
  },
  watch: {
    selectedRules (val) {
      if (this.rules.length === val.length) {
        this.setAllRulesSelected()
      }
    }
  },
  methods: {
    setAllRulesSelected () {
      this.areRulesVisible = false
      this.$emit(SIGNING_RULES_CHECKED)
    }
  }
}
</script>
