<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>OnlineNotary</title>
    <link rel="stylesheet" href="<%= BASE_URL %>loader.css">
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Material+Icons:100,300,400,500,700,900"
    >
    <link rel="stylesheet"
          href="//use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="https://js.stripe.com/v3/"></script>

  </head>
  <body>
    <div id="preloader-info" style="width: 100vw; height: 100vw; text-align: center; padding-top: 50vh;">
      <div id="preloader-verbiage"
           style="font-family: 'Roboto', serif; margin-bottom: 30px;">Your online notary session is loading</div>
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <noscript>
      <strong>
        We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script>
      /* eslint-disable */
      window.siteLoaded = function () {
        var preloader = document.getElementById('preloader-info');

        if (preloader) {
          setTimeout(function () { return preloader.remove(); }, 400);
        }
      };

      window.setLoaderVerbiage = function () {
        var preloaderVerbiageContainer = document.getElementById('preloader-verbiage');
        var text = 'Your online notary session is loading';

        if (window.location.hash === '#/test') {
          text = 'System loading';
        }

        preloaderVerbiageContainer.innerText = text;
      };

      window.setLoaderVerbiage();
    </script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" async="async"></script>

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
              d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?4Iv82k145i5oTMizr3uAjl441dXjD4Y5";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->
  </body>
</html>
