<style>
.id-image {
  max-width: 100%;
  max-height: 95vh;
}
</style>
<template>
  <v-navigation-drawer v-model="isShown" width="400" hide-overlay fixed>
    <v-container fill-height>
      <v-layout align-center justify-center column>
        <v-flex xs1>
          <div v-if="!isIdLoaded">
            <div v-if="croppedDocumentData" class="item">Loading image...</div>
            <div v-else-if="errorMessage" class="item text--error">{{ errorMessage }}</div>
          </div>
          <img
            v-show="isIdLoaded"
            :src="idImageUrl"
            v-on:load="showImage"
            class="id-image"
            alt="Picture of ID Front side"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </v-navigation-drawer>
</template>
<script>
import { mapState, mapMutations } from 'vuex'
import { LEGACY } from '../../constants/idVerificators'
import { NotarySession } from '../../services/NotarySession'
import { ID_CROPPED_FRONT_IMAGE_TYPE } from '../../constants/documents'
import IdVerificatorFactory from '../../services/IdVerificators/IdVerificatorFactory'

export default {
  data: () => ({
    isIdLoading: false,
    idImageUrl: null,
    isIdLoaded: false,
    errorMessage: null,
    croppedDocumentData: null,
    idVerificator: IdVerificatorFactory.create(LEGACY)
  }),
  computed: {
    isShown: {
      get () {
        if (this.isIdVisible && this.idImageUrl === null) {
          this.loadId()
        }

        return this.isIdVisible
      },
      set (isIdVisible) {
        isIdVisible ? this.showIdPreviewer() : this.hideIdPreviewer()
      }
    },
    ...mapState(['idParts', 'isIdVisible'])
  },
  mounted () {
    if (this.idParts) {
      this.croppedDocumentData = this.idParts.find(({ type }) => type === ID_CROPPED_FRONT_IMAGE_TYPE)
    }

    if (!this.croppedDocumentData) {
      this.errorMessage = 'No ID image provided'
    }
  },
  methods: {
    ...mapMutations(['hideIdPreviewer', 'showIdPreviewer']),
    async loadId () {
      this.isIdLoaded = false

      try {
        this.idImageUrl = await this.idVerificator
          .setCredentials(NotarySession.init().generateCredentials())
          .getFrontImageUrl({ filename: ID_CROPPED_FRONT_IMAGE_TYPE })
      } catch (e) {
        this.errorMessage = e.message || e
        this.isIdLoaded = true
      }
    },
    showImage (e) {
      e.preventDefault() // Chrome requirement for image onload event
      this.isIdLoaded = true
    }
  }
}
</script>
