<template>
  <v-layout v-if="isIdAvailable">
    <img
      v-if="idImageUrl"
      v-show="isIdLoaded"
      :src="idImageUrl"
      @load="showImage"
      alt="Picture of ID Front side"
      class="full-width"
    />
    <v-layout v-if="!isIdLoaded" align-center justify-center column>
      <v-flex xs3 class="text-xs-center">
        <div class="item">Loading ID…</div>
        <v-progress-circular indeterminate color="green" :size="50" :width="6" class="mt-2" />
      </v-flex>
    </v-layout>
  </v-layout>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import { LEGACY } from '../../constants/idVerificators'
import { NotarySession } from '../../services/NotarySession'
import { ID_CROPPED_FRONT_IMAGE_TYPE } from '../../constants/documents'
import IdVerificatorFactory from '../../services/IdVerificators/IdVerificatorFactory'

export default {
  data: (): Object => ({
    idImageUrl: null,
    isIdLoaded: false,
    isIdAvailable: false
  }),
  computed: {
    ...mapState(['idParts'])
  },
  async mounted (): Promise<void> {
    if (!this.idParts || !this.idParts.find(({ type }) => type === ID_CROPPED_FRONT_IMAGE_TYPE)) {
      return
    }

    this.isIdAvailable = true
    this.idImageUrl = await IdVerificatorFactory.create(LEGACY)
      .setCredentials(NotarySession.init().generateCredentials())
      .getFrontImageUrl({ filename: ID_CROPPED_FRONT_IMAGE_TYPE })
    this.isIdLoaded = true
  },
  methods: {
    showImage (e: Event): void {
      e.preventDefault() // Chrome requirement for image onload event
      this.isIdLoaded = true
    }
  }
}
</script>
