<template>
  <div class="text-center v-dialog--bottom">
    <v-dialog v-model="isShown" persistent width="400" content-class="v-dialog--dynamic-top">
      <v-card>
        <v-card-title class="text--24 text--success lighten-2 pt-2 pb-1" primary-title>
          Credential analysis passed
        </v-card-title>
        <v-card-text class="pt-0 pb-0 pl-1 pr-1">
          <div v-if="!isIdLoaded">
            <div v-if="croppedDocumentData" class="item">ID image loading</div>
          </div>
          <img v-show="isIdLoaded"
            :src="idImageUrl"
            @load="showImage"
            class="id-image"
            alt="Picture of ID Front side"
          />
        </v-card-text>
        <v-card-actions class="pt-0 pb-2">
          <v-spacer></v-spacer>
          <v-btn @click="isShown = false" color="success" text>OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
// @flow
import { mapState, mapMutations } from 'vuex'
// $FlowFixMe
import IdViewer from './IdViewer'

export default {
  extends: IdViewer,
  props: {
    top: {
      default: '50vh',
      type: [String, Number]
    }
  },
  watch: {
    top (val: string|number): void {
      const root = document.documentElement

      if (!root) {
        return
      }

      let position = typeof val === 'number' ? `${val + 50}px` : val

      root.style.setProperty('--id-popup--top-position', position)
    }
  },
  computed: {
    isShown: {
      get (): void {
        if (this.isIdPopupVisible && this.idImageUrl === null) {
          this.loadId()
        }

        return this.isIdPopupVisible
      },
      set (isIdVisible: boolean): void {
        isIdVisible ? this.showIdPopupPreviewer() : this.hideIdPopupPreviewer()
      }
    },
    ...mapState(['isIdPopupVisible'])
  },
  methods: {
    ...mapMutations(['showIdPopupPreviewer', 'hideIdPopupPreviewer'])
  }
}
</script>
