<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0">
      <v-toolbar-title>Dashboard</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-left fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout justify-space-between column>
        <div class="item">
          <v-switch
            v-model="settings.isAudioEnabled"
            @click="toggle('isAudioEnabled')"
            color="info"
            label="Audio"
          ></v-switch>
          <v-switch
            v-model="settings.isMeetingDisabled"
            @click="toggle('isMeetingDisabled')"
            color="info"
            label="Disable whole meeting"
          ></v-switch>
          <v-select
            v-model="currentStage"
            :items="stages"
            label="Current Stage"
          ></v-select>
          <v-btn href="/#/" target="_blank">Login as User</v-btn>
          <v-btn href="/#/official" target="_blank" color="info">Login as Official</v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { ORDERED } from '../constants/stages'
import { NotarySession } from '../services/NotarySession'

export default {
  data: () => ({
    stages: ORDERED
  }),
  computed: {
    ...mapState(['settings', 'stage']),
    currentStage: {
      get () { return this.stage },
      set (stage) { NotarySession.commitStage(stage) }
    }
  },
  methods: {
    toggle (setting) {
      NotarySession.changeSetting(setting, this.settings[setting])
    }
  }
}
</script>
