<template>
  <v-container class="main-container">
    <v-container align-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-flex xs12 class="body-2 text-xs-center">Something went wrong</v-flex>
    </v-container>
  </v-container>
</template>
