<template>
  <v-container>
    <v-layout rpw wrap>
      <v-flex xs12>
        <div>
          <b>Video and audio test</b> - Enable the video camera and microphone on your computer or mobile device. You
          should be able to see yourself in the video window and see the green video meter bar moving as you talk.
          If you have any issues, feel free to click the "Chat Support" button in the lower right corner of this screen.
          <b>The test will last for fifteen seconds.</b>
        </div>
      </v-flex>
      <v-flex xs12 sm5 offset-sm3 class="mt-3">
        <meter v-if="isAudioMeterVisible" :value="audioLevel" class="full-width"></meter>
        <div id="local-media" class="full-width mt-3"></div>
        <div v-if="videoTestCompleted" class="text-xs-center font-weight-bold text--success">
          Video and audio test completed
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import AudioMeterService from '../services/AudioMeterService'
import { initMeeting, leaveMeeting } from '../assets/js/twiliovideo'
import { randomUserName, showSupportChatButton } from '../services/utils'

const videoSessionDuration = 15 * 1000

export default {
  data: () => ({
    audioLevel: 0,
    isAudioMeterVisible: false,
    videoTestCompleted: false
  }),
  mounted () {
    // After Support component hides Zopim floating button
    setTimeout(() => showSupportChatButton(window), 3000)

    const userName = randomUserName()

    initMeeting(userName, {
      roomName: `testCallRoom.${userName}`,
      onLocalUserJoined: participant => this.onLocalUserJoined(participant)
    })
  },
  methods: {
    onLocalUserJoined (participant) {
      this.$options.timeout = setTimeout(() => {
        clearTimeout(this.$options.timeout)
        this.stopVideoSession()
      }, videoSessionDuration)

      let stream

      participant.audioTracks.forEach((track) => {
        stream = new MediaStream([track.mediaStreamTrack])
      })

      if (!stream) {
        throw new Error('No stream')
      }

      this.isAudioMeterVisible = true
      new AudioMeterService(stream).onChangeLevel((level) => {
        this.audioLevel = level
      })
    },
    stopVideoSession () {
      leaveMeeting()
      this.isAudioMeterVisible = false
      this.videoTestCompleted = true
    }
  }
}
</script>
