<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0">
      <v-btn icon>
        <v-icon color="info">close</v-icon>
      </v-btn>
      <v-toolbar-title>Create a signature</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center justify-space-between column>
        <div class="item">
          <div
            class="text-xs-left"
            v-for="(item, i) in items"
            :key="i"
          >
            <div>{{ item }}</div>
            <div v-bind:class="item">{{ text }}</div>
          </div>
        </div>
        <div class="item full-width">
          <v-btn color="info" block large>Create signature</v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>

export default {
  data: () => ({
    text: 'Example',
    items: [
      // 'display-4',
      'display-3',
      'display-2',
      'display-1',
      'headline',
      'title',
      'subheading',
      'body-2',
      'body-1',
      'caption'
    ]
  })
}
</script>
