<template>
  <div>
    <v-fab-transition v-for="(button, index) in buttons" :key="index">
      <v-btn
        @click="button.onClick()"
        v-show="isVisible"
        dark
        fab
        absolute
        small
        :color="button.color"
        :style="{ top: calculateTopOffset(index), right: `${rightOffset}px` }"
      >
        <v-icon>{{ button.icon }}</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
export default {
  props: {
    isVisible: {
      type: Boolean
    },
    showAcceptButton: {
      type: Boolean,
      default: true
    },
    showEditButton: {
      type: Boolean,
      default: true
    },
    showDeleteButton: {
      type: Boolean,
      default: true
    },
    showScaleButtons: {
      type: Boolean,
      default: false
    },
    rightOffset: {
      type: Number
    },
    height: {
      type: Number
    }
  },
  methods: {
    onAcceptClicked () {
      this.$emit('acceptClicked')
    },
    onEditClicked () {
      this.$emit('editClicked')
    },
    onDeleteClicked () {
      this.$emit('deleteClicked')
    },
    calculateTopOffset (index) {
      const height = 50
      const buttonsQuantity = this.buttons.length
      const res = this.height / 2 + height * index - buttonsQuantity * height / 2

      return `${res}px`
    }
  },
  computed: {
    buttons () {
      const buttons = []

      if (this.showScaleButtons) {
        buttons.push(
          {
            color: 'blue-grey',
            icon: 'fas fa-plus',
            onClick: () => this.$emit('plusClicked')
          }, {
            color: 'blue-grey',
            icon: 'fas fa-minus',
            onClick: () => this.$emit('minusClicked')
          }
        )
      }

      if (this.showAcceptButton) {
        buttons.push({
          color: 'success',
          icon: 'fas fa-check',
          onClick: () => this.onAcceptClicked()
        })
      }

      if (this.showEditButton) {
        buttons.push({
          color: 'info',
          icon: 'fas fa-pencil-alt',
          onClick: () => this.onEditClicked()
        })
      }

      if (this.showDeleteButton) {
        buttons.push({
          color: 'error',
          icon: 'fas fa-times',
          onClick: () => this.onDeleteClicked()
        })
      }

      return buttons
    }
  }
}
</script>
