<template>
  <div>
    <VueDragResize
      v-for="(r, index) in receivers"
      :key="index"
      :h="r.height"
      :w="r.width"
      :x="r.left"
      :y="r.top"
      :minw="1"
      :minh="1"
      :isDraggable="false"
      :isResizable="false"
      class="bordered--error"
    />
  </div>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import VueDragResize from 'vue-drag-resize'
import type { SignatureBoxPointer } from '../../interfaces/SignatureBoxPointer'
import type { PositionedRectangle } from '../../interfaces/PositionedRectangle'

export default {
  components: { VueDragResize },
  props: {
    canvas: {
      required: true
    },
    pageNumber: {
      required: true
    }
  },
  data: () => ({
    receivers: []
  }),
  computed: {
    ...mapState(['signatureBoxPointers'])
  },
  watch: {
    signatureBoxPointers: {
      immediate: true,
      handler (signatureBoxPointers: Array<SignatureBoxPointer>): void {
        if (!signatureBoxPointers.length) {
          return
        }

        const neededPage = signatureBoxPointers[signatureBoxPointers.length - 1].pageNumber

        if (neededPage !== this.pageNumber) {
          this.$emit('neededPageChanged', neededPage)
        }

        this.receivers = this.composeReceivers()
        this.$emit('signatureBoxReceiversChanged', this.receivers)
      }
    }
  },
  methods: {
    scaleParam (param: number, currentDocParam: number, docParam: number): number {
      return param * currentDocParam / docParam
    },
    composeReceivers (): Array<PositionedRectangle> {
      const receivers: Array<PositionedRectangle> = []

      for (let i = 0; i < this.signatureBoxPointers.length; i++) {
        const p: SignatureBoxPointer = this.signatureBoxPointers[i]

        if (p.pageNumber !== this.pageNumber) {
          continue
        }

        receivers.push({
          height: this.scaleParam(p.height, this.canvas.height, p.canvas.height),
          width: this.scaleParam(p.width, this.canvas.width, p.canvas.width),
          left: this.scaleParam(p.left, this.canvas.width, p.canvas.width),
          top: this.scaleParam(p.top, this.canvas.height, p.canvas.height)
        })
      }

      return receivers
    }
  }
}
</script>
