<template>
  <div v-if="pos">
    <VueDragResize
      v-for="(item, index) in items"
      @resizestop="r => onUpdate(r, index)"
      @dragstop="r => onUpdate(r, index)"
      :key="item.id"
      :h="pos.height"
      :w="pos.width"
      :x="pos.left"
      :y="pos.top"
      :minw="minParams.w"
      :minh="minParams.h"
      class="bordered--error pointer"
    />
  </div>
</template>
<script>
// @flow
import { utils } from 'shared'
import { mapState } from 'vuex'
import VueDragResize from 'vue-drag-resize'
import { toInt } from '../../services/utils'
import { NotarySession } from '../../services/NotarySession'
import type { SignatureBoxPointer } from '../../interfaces/SignatureBoxPointer'
import type { PositionedRectangle } from '../../interfaces/PositionedRectangle'

export default {
  components: { VueDragResize },
  props: {
    canvas: {
      required: true
    },
    pageNumber: {
      required: true
    }
  },
  data: () => ({
    items: [{ id: 0 }],
    pos: null,
    minParams: {
      w: 1,
      h: 1
    }
  }),
  computed: {
    ...mapState(['signatureBoxPointers'])
  },
  mounted () {
    this.pos = this.calculateStartingPosition()
    this.onUpdate(this.pos, 0)
  },
  methods: {
    onUpdate (p: PositionedRectangle, index: number): void {
      const signatureBoxPointers = utils.clone(this.signatureBoxPointers)

      signatureBoxPointers[index] = this.calculateSignatureBoxPointerData(p)
      NotarySession.init().updateSession({ signatureBoxPointers })
    },
    calculateSignatureBoxPointerData ({ width, height, left, top }: PositionedRectangle): SignatureBoxPointer {
      return {
        width,
        height,
        left: left - this.canvas.left,
        top: top - this.canvas.top,
        pageNumber: this.pageNumber,
        canvas: {
          width: this.canvas.width,
          height: this.canvas.height
        }
      }
    },
    calculateStartingPosition (): PositionedRectangle {
      const { left, width, height, top } = this.canvas
      const leftPos = left + width * 2 / 3
      const topPos = top + height * 2 / 3

      return {
        top: toInt(topPos),
        left: toInt(leftPos),
        width: 150,
        height: 50
      }
    }
  }
}
</script>
