<template>
  <v-container class="main-container">
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center column>
        <div class="pa-4 icon-status">
          <i class="fas fa-check-circle fa-screen-icon-logo text--success"/>
        </div>
        <div class="text-xs-center mt-4 title">ID captured and signature created</div>
        <div class="text-xs-center mt-3 body-2">You may now return to your computer to continue your notary session</div>
      </v-layout>
    </v-container>
  </v-container>
</template>

<style>
.icon-status {
  margin-top: 70px;
}
</style>
