<template>
  <div>
    <slot></slot>
  </div>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import { REFRESH_USER_SCREEN_COMMAND } from '../constants/commands'
import { NotarySession } from '../services/NotarySession'
import type { InternalCommand } from '../interfaces/InternalCommand'

export default {
  computed: {
    ...mapState(['commands'])
  },
  watch: {
    async commands (commands: InternalCommand[]): Promise<void> {
      const lastCommand = commands && commands[commands.length - 1]

      if (!lastCommand) {
        return
      }

      this.handle(lastCommand)
    }
  },
  methods: {
    handle (command: InternalCommand): void {
      switch (command.command) {
        case REFRESH_USER_SCREEN_COMMAND:
          return this.refresh()
        default:
      }
    },

    async refresh () {
      const commands = this.commands.filter(({ command }) => command !== REFRESH_USER_SCREEN_COMMAND)

      await NotarySession.init().updateCommands(commands)
      window.location.reload()
    }
  }
}
</script>
