<template>
  <v-dialog :value="isVisible" persistent width="500">
    <v-card>
      <v-alert :value="errorMessage" color="error">{{ errorMessage }}</v-alert>
      <v-container grid-list-md text-xs-center>
        <v-form ref="form" v-model="isFormValid">
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field
                v-model="phone"
                :rules="requiredRules"
                label="Send link to the following phone number via SMS (text)"
                placeholder="Phone Number"
                prepend-icon="fas fa-phone fa-flip-horizontal"
              />
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="Send link to the following email address (OPTIONAL)"
                placeholder="Email"
                prepend-icon="fas fa-envelope"
              />
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
      <v-card-actions>
        <v-spacer />
        <v-btn @click="close" flat class="ml-4 mr-2">Cancel</v-btn>
        <v-btn @click="send" :disabled="!isFormValid" :loading="isLoading" color="info">Send link</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    isVisible: {
      type: Boolean,
      required: true
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      isFormValid: false,
      phone: null,
      email: null,
      emailRules: [
        v => !v || /.+@.+/.test(v) || 'E-mail address is invalid'
      ],
      requiredRules: [
        v => !!v || ''
      ]
    }
  },
  methods: {
    close () {
      this.$emit('onClosed')
    },
    send () {
      this.$emit('onConfirmed', {
        email: this.email,
        phone: this.phone
      })
    }
  }
}
</script>
