<style>
.form-item-container {
  width: 400px;
}
</style>
<template>
  <v-dialog :value="value" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-container fill-height>
        <v-layout align-center justify-center column>
          <v-layout v-for="(field, index) in fields" :key="index" class="form-item-container">
            <v-text-field
              v-if="!field.isStatic"
              v-model="field.value"
              :label="field.name"
              color="success"
            ></v-text-field>
            <span v-else class="form-item-container pt-1 pb-0">{{ field.value }}</span>
            <v-checkbox
              v-model="field.isChecked"
              :class="field.checkboxClass"
              hide-details
              color="success"
              class="shrink mr-2"
            ></v-checkbox>
          </v-layout>
          <div>
            <v-btn @click="apply" :disabled="!isValid" color="primary">Apply</v-btn>
            <v-btn @click="cancel" flat>Cancel</v-btn>
          </div>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
// @flow
import { getFormattedDate, everyFirstToUpper, normalizeDate } from '../services/utils'
import { CREATE_TEXT_NODES_EVENT, CANCEL_TEXT_NODES_EVENT } from '../constants/events'
import {
  DATE_FORMAT_MONTH_AND_DAY, DATE_FORMAT_DAY, DATE_FORMAT_MONTH,
  DATE_FORMAT_YEAR, DATE_FORMAT_FULL
} from '../constants/dates'

interface TextFieldNode {
  name: string|null,
  value: string|number,
  isStatic: boolean,
  isChecked: boolean,
  checkboxClass: string|null
}

const createField = (
  name: string|null, value: string|number, isStatic: boolean = false, checkboxClass: string|null = null
): TextFieldNode => ({
  name,
  value,
  isStatic,
  checkboxClass,
  isChecked: false
})

export default {
  props: {
    value: {
      type: Boolean,
      default: true
    },
    principalName: {
      type: String
    },
    county: {
      type: String
    },
    commissionExpirationDate: {
      default: null
    }
  },
  computed: {
    isValid (): boolean {
      for (let i = 0; i < this.fields.length; i++) {
        if (
          this.fields[i] && this.fields[i].isChecked && this.fields[i].value &&
          this.fields[i].value.trim && this.fields[i].value.trim()
        ) {
          return true
        }
      }

      return false
    }
  },
  data (): Object {
    const commissionExpirationDate = normalizeDate(this.commissionExpirationDate)
    const formattedDate = commissionExpirationDate
      ? getFormattedDate(DATE_FORMAT_FULL, commissionExpirationDate) : ''

    return {
      includeFiles: null,
      fields: [
        createField('County', everyFirstToUpper(this.county)),
        createField('State', 'Texas'),
        createField('Principal\'s name', everyFirstToUpper(this.principalName)),
        createField('Full date', getFormattedDate()),
        createField('Month & day', getFormattedDate(DATE_FORMAT_MONTH_AND_DAY)),
        createField('Day', getFormattedDate(DATE_FORMAT_DAY)),
        createField('Month', getFormattedDate(DATE_FORMAT_MONTH)),
        createField('Year', getFormattedDate(DATE_FORMAT_YEAR)),
        createField(null, 'The notarial act was an online notarization.', true, 'mt-0'),
        createField(
          null,
          'This instrument was acknowledged before me by means of an interactive two-way audio and video' +
            ' communication.',
          true
        ),
        createField('Enter custom text', ''),
        createField('Commission expiration date', formattedDate)
      ]
    }
  },
  methods: {
    apply (): void {
      const filledItems = this.fields.filter(({ isChecked, value }) => isChecked && value)

      this.$emit(CREATE_TEXT_NODES_EVENT, filledItems)
    },
    cancel (): void {
      this.$emit(CANCEL_TEXT_NODES_EVENT)
    }
  }
}
</script>
