<template>
  <v-dialog :value="isVisible" persistent width="550">
    <v-card>
      <v-container grid-list-md text-xs-left class="pb-0">
        <v-layout row wrap>
          <v-flex xs2 class="pt-4">
            <span class="icon-reminder text--accent2 text--50"></span>
          </v-flex>
          <v-flex xs10>
            <div>
              1. Tell the signer to locate the signature space, using the pagination buttons on the bottom of the
              screen if needed.
            </div>
            <div class="mt-1">
              2. Next, tell the signer to click the orange "feather" button on the top left corner to display their
              signature, which can then be dragged to the signature space.
            </div>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="isVisible = false" flat color="primary">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapState } from 'vuex'
import { USER_SIGNING_PROCESS_START } from '../constants/stages'

export default {
  data: () => ({
    isVisible: true
  }),
  computed: {
    ...mapState(['stage'])
  },
  watch: {
    stage (stage) {
      this.checkStage(stage)
    }
  },
  mounted () {
    this.checkStage(this.stage)
  },
  methods: {
    checkStage (stage) {
      if (stage === USER_SIGNING_PROCESS_START) {
        this.isVisible = true
      }
    }
  }
}
</script>
