<style>
.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(0, 0, 0, 0.04);
}
</style>
<template>
  <div>
    <v-menu bottom right>
      <v-btn icon slot="activator">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile class="menu-item">
          <v-list-tile-title @click="toggleIdVisibility">Display ID</v-list-tile-title>
        </v-list-tile>
        <v-list-tile class="menu-item">
          <v-list-tile-title @click="showToPrevStagePopup">Go to previous step</v-list-tile-title>
        </v-list-tile>
        <v-list-tile class="menu-item">
          <v-list-tile-title @click="refreshUserBrowser">Refresh user browser</v-list-tile-title>
        </v-list-tile>
        <slot />
        <v-list-tile class="menu-item text--error">
          <v-list-tile-title @click="showEndSessionPopup">End session</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-dialog v-model="isEndSessionPopupVisible" persistent max-width="400">
      <v-card>
        <v-card-text>Are you sure you want to end current session?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="cancelSession">End session</v-btn>
          <v-btn color="primary" flat @click="showEndSessionPopup(false)">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="isPrevStagePopupVisible" persistent max-width="400">
      <v-card>
        <v-card-text>Are you sure you want to go to the previous step?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="toPrevStep">Yes</v-btn>
          <v-btn color="primary" flat @click="showToPrevStagePopup(false)">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
// @flow
import { mapState, mapMutations } from 'vuex'
import { NotarySession } from '../services/NotarySession'
import { REFRESH_USER_SCREEN_COMMAND } from '../constants/commands'

export default {
  computed: {
    ...mapState(['stage', 'isIdVisible', 'commands'])
  },
  data: (): Object => ({
    isEndSessionPopupVisible: false,
    isPrevStagePopupVisible: false,
    session: NotarySession.init()
  }),
  methods: {
    ...mapMutations(['showIdPreviewer', 'hideIdPreviewer']),
    toggleIdVisibility (): void {
      if (this.isIdVisible) {
        return this.hideIdPreviewer()
      }

      return this.showIdPreviewer()
    },
    showEndSessionPopup (shouldBeShown = true): void {
      this.isEndSessionPopupVisible = !!shouldBeShown
    },
    async cancelSession (): Promise<void> {
      this.showEndSessionPopup()
      await this.session.cancel()
    },
    showToPrevStagePopup (shouldBeShown = true): void {
      this.isPrevStagePopupVisible = !!shouldBeShown
    },
    async toPrevStep (): Promise<void> {
      this.showToPrevStagePopup(false)
      await this.session.toPrevStage(this.stage)
    },
    refreshUserBrowser (): void {
      this.session.addCommand(REFRESH_USER_SCREEN_COMMAND, this.commands)
    }
  }
}
</script>
