<style>
.title-container {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.sub-title-container {
  font-size: 19px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
</style>
<template>
  <v-dialog :value="isVisible" persistent width="700">
    <v-card>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs1>
            <img src="../assets/icons/lock.svg" class="small-icon" alt="Lock icon"/>
          </v-flex>
          <v-flex xs10 offset-xs-1>
            <div class="title-container">Please enter your password for digital certificate:</div>
            <div v-if="certificateName" class="text-uppercase sub-title-container">{{ certificateName }}</div>
          </v-flex>
          <v-flex xs8 offset-xs2 class="mt-4">
            <v-form @submit="(e) => applyPassword(e)" ref="form" v-model="isFormValid">
              <v-text-field
                v-model="password"
                :rules="[rules.min]"
                :error-messages="errorMessage ? [errorMessage] : []"
                type="password"
                label="Password"
              ></v-text-field>
            </v-form>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="applyPassword()" :disabled="!isFormValid" :loading="isLoading" color="success">Enter</v-btn>
        <v-btn @click="close()" flat class="button-narrow ml-4 mr-2">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
// @flow
export default {
  props: {
    isVisible: {
      type: Boolean,
      required: true
    },
    isLoading: {
      type: Boolean
    },
    errorMessage: {
      validator: (v: string|null): boolean => typeof v === 'string' || v === null
    },
    certificateName: {
      validator: (v: string|null): boolean => typeof v === 'string' || v === null
    }
  },
  data (): Object {
    return {
      isFormValid: false,
      password: null,
      rules: {
        min: (v: string|null): boolean|string => (v && v.length >= 3) || 'Min 3 characters'
      }
    }
  },
  watch: {
    password (password: string): void {
      this.$emit('onPasswordChanged', { password })
    }
  },
  methods: {
    applyPassword (e?: Event): void {
      if (e) {
        e.preventDefault()
      }

      this.$emit('onPassword', { password: this.password })
    },
    close (): void {
      this.password = null
      this.$emit('onClosed')
    }
  }
}
</script>
