<style scoped>
.document-canvas--image {
  max-height: var(--document-canvas--image--max-height);
  max-width: var(--document-canvas--image--max-width);
}
</style>
<template>
  <div>
    <div v-show="isDocumentLoading">PDF is loading…</div>
    <div>
      <img
        v-show="!isDocumentLoading"
        :src="url"
        :class="className"
        v-on:load="onPageRendered"
        ref="documentImage"
        class="document-canvas--image"
        alt="PDF document image"
      />
    </div>
    <div class="text-xs-center">
      <v-pagination
        v-if="isPaginationVisible"
        v-model="currentPage"
        :length="totalPages"
        @input="onPageChanged"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
// @flow
import { getOriginalImageSizeByUrl, getScreenSize } from '../services/utils'
import type { Rectangle } from '../interfaces/Rectangle'

const IMAGE_TO_PDF_FACTOR = 2

export default {
  props: {
    urls: {
      validator: (v: any): boolean => (v instanceof Array) || v === null
    },
    neededPage: {
      validator: (v: any): boolean => typeof v === 'number' || v === null
    },
    className: {
      type: String
    }
  },
  data: () => ({
    url: null,
    isDocumentLoading: false,
    currentPage: 1,
    totalPages: 0,
    isPaginationVisible: false
  }),
  watch: {
    urls: {
      immediate: true,
      handler (urls: Array<string>|any): void {
        if (urls && urls.length) {
          this.render()
        }
      }
    },
    neededPage: {
      immediate: false,
      handler (neededPage: ?number): void {
        if (neededPage !== null && this.currentPage !== neededPage) {
          this.currentPage = neededPage
          this.onPageChanged(this.currentPage)
        }
      }
    }
  },
  methods: {
    render (): void {
      this.currentPage = 1
      this.totalPages = this.urls.length
      this.renderPage(this.currentPage)
    },
    onPageChanged (newPageNumber: number): void {
      this.renderPage(newPageNumber)
    },
    renderPage (n: number): void {
      this.isDocumentLoading = true
      this.url = this.urls[n - 1]
    },
    async onPageRendered (): Promise<any> {
      this.isDocumentLoading = false
      this.isPaginationVisible = this.totalPages > 1
      this.calculateImageRectangle()

      const [size] = await Promise.all([
        getOriginalImageSizeByUrl(this.url),
        this.$nextTick()
      ])
      const { width, height } = (size: Rectangle)

      this.$emit('pageChanged', {
        pageNumber: this.currentPage,
        realWidth: width / IMAGE_TO_PDF_FACTOR,
        realHeight: height / IMAGE_TO_PDF_FACTOR,
        canvas: {
          height: this.$refs.documentImage.clientHeight,
          width: this.$refs.documentImage.clientWidth,
          left: this.$refs.documentImage.offsetLeft,
          top: this.$refs.documentImage.offsetTop
        }
      })
      this.$emit('rendered', {
        height: this.$refs.documentImage.clientHeight,
        width: this.$refs.documentImage.clientWidth,
        left: this.$refs.documentImage.offsetLeft,
        top: this.$refs.documentImage.offsetTop
      })
    },
    calculateImageRectangle (): void {
      const root = document.documentElement

      if (!root) {
        return
      }

      const toolbarHeight = 50
      const paginationHeight = 50
      const otherOffsetsHeight = 35
      const { height, width } = getScreenSize()
      const imageHeight = height - toolbarHeight -
        (this.isPaginationVisible ? paginationHeight : 0) - otherOffsetsHeight

      root.style.setProperty('--document-canvas--image--max-height', `${imageHeight}px`)
      root.style.setProperty('--document-canvas--image--max-width', `${width}px`)
    }
  }
}
</script>
