<style>
.document-canvas {
  max-height: 86vh;
  max-width: 100vw;
}
</style>
<template>
  <div>
    <div v-if="isPdfLoading">PDF is loading…</div>
    <canvas ref="canvas" :class="className" class="document-canvas"></canvas>
    <div class="text-xs-center">
      <v-pagination
        v-if="isPaginationVisible"
        v-model="currentPage"
        :length="totalPages"
        @input="onPageChanged"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
// @flow
import type { PdfPage } from '../interfaces/PdfPage'
import type { PdfPageMeta } from '../interfaces/PdfPageMeta'
import { getRenderContext, clearCanvas } from '../services/utils'

declare var pdfjsLib: any

export default {
  props: {
    url: {
      validator: (v: any): boolean => typeof v === 'string' || v === null
    },
    className: {
      type: String
    }
  },
  watch: {
    url: {
      immediate: true,
      async handler (val: any): Promise<void> {
        if (val && this.$refs.canvas) {
          clearCanvas(this.$refs.canvas)

          if (this.$options.loadingPdfPromise) {
            try {
              await this.$options.loadingPdfPromise
            } catch (e) {
              // ignore errors
            } finally {
              this.$options.loadingPdfPromise = null
            }
          }

          this.$options.loadingPdfPromise = this.render(val)
        } else {
          this.$options.document = null
        }
      }
    }
  },
  data: () => ({
    isPdfLoading: true,
    currentPage: 1,
    totalPages: 0,
    isPaginationVisible: false
  }),
  methods: {
    async render (url: string): Promise<void|boolean> {
      this.isPdfLoading = true
      this.isPaginationVisible = false
      this.$options.document = await pdfjsLib.getDocument(url)
      const pagesInDocument = this.$options.document._pdfInfo.numPages

      await this.renderPage(this.currentPage)

      if (!this.$refs.canvas) {
        return false
      }

      this.totalPages = pagesInDocument
      this.$emit('rendered', {
        height: this.$refs.canvas.clientHeight,
        width: this.$refs.canvas.clientWidth,
        left: this.$refs.canvas.offsetLeft,
        top: 0
      })
      this.isPaginationVisible = this.totalPages > 1
      this.isPdfLoading = false
    },
    async onPageChanged (currentPage: number): Promise<void> {
      this.renderPage(currentPage)
    },
    async renderPage (currentPage: number): Promise<void|null> {
      const canvas = this.$refs.canvas

      if (!canvas) {
        return null
      }

      const currPageObject: PdfPage = await this.$options.document.getPage(currentPage)
      const res = await currPageObject.render(getRenderContext(currPageObject, canvas))
      const realViewport = currPageObject.getViewport(1)
      const pdfPageMeta: PdfPageMeta = {
        pageNumber: this.currentPage,
        realWidth: realViewport.width,
        realHeight: realViewport.height,
        canvas: {
          height: this.$refs.canvas.clientHeight,
          width: this.$refs.canvas.clientWidth,
          left: this.$refs.canvas.offsetLeft,
          top: 0
        }
      }

      this.$emit('pageChanged', pdfPageMeta)

      return res
    }
  }
}
</script>
