<template>
  <v-flex v-show="isRecordingInProgress" xs12>
    <v-icon class="camera-recorder-indicator mr-2" color="error">fa-circle</v-icon>
    <div class="text-uppercase d-inline-block text--error" style="font-size: 14px;">Recording screen</div>
  </v-flex>
</template>
<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['isRecordingInProgress'])
  }
}
</script>
