<template>
  <span></span>
</template>
<script>
import { mapState } from 'vuex'

import { INITIAL_SCREEN_RECORDING_STAGE } from '../constants/stages'

export default {
  props: {
    session: {
      required: true
    }
  },
  computed: {
    ...mapState(['isRecordingInProgress', 'isRecordUploaded'])
  },
  mounted () {
    if (process.env.VUE_APP_IGNORE_RECORDER) {
      return
    }

    this.$store.watch(async () => {
      if (this.isRecordingInProgress === true || this.isRecordUploaded === true) {
        return true
      }

      alert('Screen recording was turned off. You will be taken to the start of the session')

      await this.session.commitStage(INITIAL_SCREEN_RECORDING_STAGE)
    })
  }
}
</script>
