<template>
  <v-layout row justify-center>
    <v-dialog :value="isVisible" persistent max-width="450">
      <v-card>
        <v-card-text>
          <div class="subheading text--info">Signing your document</div>
          <div class="mt-3">1. Go to text where you want to sign.</div>
          <div class="mt-2">2. Tap or click orange "feather" button.</div>
          <div class="mt-2">3. Drag your signature image to the signature space.</div>
          <div class="mt-2">4. Tap or click  green "CONFIRM SIGNATURE" button.</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="close">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  data: () => ({
    isVisible: true
  }),
  methods: {
    close () {
      this.$emit('onClose')
      this.isVisible = false
    }
  }
}
</script>
