<template>
  <div></div>
</template>
<script>
// @flow
import { mapMutations } from 'vuex'
import { waitFor } from '../services/utils'
import { RECORD_STARTED_EVENT } from '../constants/events'

export default {
  props: {
    sessionId: {
      type: String,
      required: true
    }
  },
  async mounted (): Promise<void> {
    window.addEventListener('message', (e) => {
      if (e.data === RECORD_STARTED_EVENT) {
        this.setRecordingIsInProgress()
      }
    })

    await waitFor(() => !!window.remoteAudioStream)

    this.$options.recorderWindow = window.open(
      `recorder.html?sid=${this.sessionId}`, 'recorder', 'width=700,height=500,left=200,top=100'
    )

    await waitFor(() => !!this.$options.recorderWindow.attachAudioStream)

    this.$options.recorderWindow.attachAudioStream(window.remoteAudioStream)
  },
  methods: {
    ...mapMutations(['setRecordingIsInProgress'])
  }
}
</script>
