<template>
  <v-alert
    :value="isErrorMessageVisible"
    :type="alertType"
    :transition="transition"
    dismissible
    class="text-xs-left"
  >
    {{ completeMessage }}
  </v-alert>
</template>
<script>
import { joinIfNotEmpty } from '../services/utils'
import { AUTO_HIDE_ERROR } from '../constants/events'

export default {
  props: {
    errorMessage: {
      validator: v => typeof v === 'string' || v === null,
      required: true
    },
    errorMessagePrefix: {
      type: String
    },
    timeout: {
      type: Number,
      default: 5000
    },
    alertType: {
      type: String,
      default: 'error'
    },
    transition: {
      type: String,
      default: 'slide-y-reverse-transition'
    }
  },
  data: () => ({
    timeoutRef: null
  }),
  computed: {
    isErrorMessageVisible () {
      return !!this.errorMessage
    },
    completeMessage () {
      return joinIfNotEmpty(this.errorMessage, this.errorMessagePrefix)
    }
  },
  watch: {
    errorMessage (val) {
      if (this.timeoutRef) {
        clearTimeout(this.timeoutRef)
      }

      if (val) {
        this.timeoutRef = setTimeout(() => this.$emit(AUTO_HIDE_ERROR), this.timeout)
      }
    }
  }
}
</script>
