<template>
  <v-layout align-center justify-space-between row>
    <v-flex xs4>
      <v-select v-model="model.month" :items="months" :required="true" label="Month"></v-select>
    </v-flex>
    <v-flex xs4>
      <v-select v-model="model.date" :items="dates" :required="true" label="Date"></v-select>
    </v-flex>
    <v-flex xs4>
      <v-select v-model="model.year" :items="years" :required="true" label="Year"></v-select>
    </v-flex>
  </v-layout>
</template>
<script>
// @flow
import Model from '../../models/Model'
import { DATES, generateReverseYearsArray, MONTHS } from '../../constants/dates'

export default {
  props: {
    model: {
      type: Model
    }
  },
  data: (): Object => ({
    months: MONTHS,
    dates: DATES,
    years: generateReverseYearsArray(1920)
  })
}
</script>
