<template>
  <v-text-field
    v-if="element.type === 'text'"
    v-model="model[element.property]"
    :label="element.label"
    :rules="rules"
    :required="isRequired"
    :class="inputClass"
  ></v-text-field>
  <v-select
    v-else-if="element.type === 'dropdown'"
    v-model="model[element.property]"
    :items="element.options"
    :label="element.label"
    :rules="rules"
    :required="isRequired"
    :class="inputClass"
  ></v-select>
  <div v-else-if="element.type === 'datepicker'" class="full-width">
    <div>
      <label :for="element.property">{{ element.label }}</label>
    </div>
    <div>
      <input
        v-model="model[element.property]"
        :id="element.property"
        type="datetime-local"
        :rules="rules"
        :required="isRequired"
        :class="inputClass"
      />
    </div>
  </div>
</template>
<script>
const requiredRules = [v => !!v || '']

export default {
  computed: {
    rules () {
      return this.isRequired ? requiredRules : []
    },
    isRequired () {
      if (this.element.required === undefined) {
        return true
      }

      return this.element.required === true
    }
  },
  props: {
    element: {
      type: Object
    },
    model: {
      type: Object
    },
    inputClass: {
      type: String,
      default: ''
    }
  }
}
</script>
