<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title>Enable webcam</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center justify-space-between column>
        <div class="item full-width pl-3 pr-3">
          <div id="local-media" class="medium-video-container" v-show="isVideoVisible"></div>
          <v-layout
            v-if="!isVideoVisible"
            class="official-video-placeholder"
            align-center
            justify-center
            column
            fill-height
          >
            <v-icon class="screen-icon-logo" color="info">fas fa-video</v-icon>
            <div class="text--info mt-4 body-2">
              Allow videocamera access
            </div>
          </v-layout>
        </div>
        <div class="item text-xs-left subheading text-spacing--narrow">
          <div v-if="!isVideoVisible">
            <div>Please make sure your webcam is enabled on your mobile or computing device.</div>
            <div class="mt-3">If you are using iPhone or iPad, please use your Safari browser only.</div>
          </div>
          <div v-else>
            <div>
              The webcam on your mobile or computing device must be enabled throughout the entire notary session.
              The image should not be choppy or delayed, as this will interfere with the session.
            </div>
            <div class="mt-3">If you are satisfied with the quality of your video image, please click Continue.</div>
          </div>
        </div>
        <div class="item full-width">
          <v-btn v-if="!isVideoVisible" @click="cancel" block large>Cancel session</v-btn>
          <v-btn v-else @click="toNextStep" large block color="info">Continue</v-btn>
          <div class="text-xs-right">
            <SupportButton />
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { SupportButton } from '../../components'
import { NotarySession } from '../../services/NotarySession'
import { initMeeting, leaveMeeting } from '../../assets/js/twiliovideo.js'

export default {
  components: { SupportButton },
  data: () => ({
    isVideoVisible: false
  }),
  computed: {
    ...mapState(['settings', 'stage'])
  },
  async mounted () {
    const sessionId = NotarySession.init().getSessionId()

    await initMeeting('user', {
      onLocalUserJoined: () => {
        this.isVideoVisible = true
      },
      onLocalUserDisconnected: () => {
        this.isVideoVisible = false
      },
      ...this.settings,
      sessionId: `${sessionId}.user-camera-check`
    })
  },
  methods: {
    toNextStep () {
      NotarySession.toNextStage(this.stage)
    },
    cancel () {
      NotarySession.toFirstStage()
    }
  },
  beforeDestroy () {
    leaveMeeting()
  }
}
</script>
