<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <div v-if="official">
        <div class="subheading font-weight-medium">{{ official.name }}</div>
        <div v-if="official.number" class="subheading">Notary # {{ official.number }}</div>
      </div>
    </v-toolbar>
    <v-container color="gray" class="fill-height-with-toolbar">
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <div id="remote-media" class="video-container" v-show="isOfficialVideoVisible"></div>
            <v-layout
              v-if="!isOfficialVideoVisible"
              class="official-video-placeholder"
              align-center
              justify-center
              column
              fill-height
            >
              <v-icon class="screen-icon-logo" color="info">fas fa-video</v-icon>
              <div class="text--info mt-4 body-2">Waiting for notary to join meeting</div>
            </v-layout>
          </v-flex>
          <v-flex xs6>
            <div id="local-media" class="video-container quarter-width"></div>
          </v-flex>
          <v-flex xs6>
            <v-layout column align-center justify-end fill-height class="full-height-fixed">
              <div class="full-width text-xs-right">
                <SupportButton />
              </div>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { SupportButton } from '../../components'
import { initMeeting } from '../../assets/js/twiliovideo.js'
import { NotarySession } from '../../services/NotarySession'

export default {
  components: { SupportButton },
  data: () => ({
    isParticipantReady: false
  }),
  computed: {
    ...mapState(['settings', 'official']),
    isOfficialVideoVisible () {
      return this.isParticipantReady
    }
  },
  async mounted () {
    const sessionId = NotarySession.init().getSessionId()

    await initMeeting('user', {
      onParticipantJoined: () => {
        this.isParticipantReady = true
      },
      onParticipantDisconnected: () => {
        this.isParticipantReady = false
      },
      ...this.settings,
      sessionId
    })
  }
}
</script>
