<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title>Create a signature</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center justify-start column>
        <div class="item pb-2">
          <div class="pb-4">
            <span class="text--90 icon-sign text--success"></span>
          </div>
          <div class="text-xs-left subheading text-spacing--narrow">
            Next, you will be asked to create an electronic signature that you will use for document signing.
          </div>
        </div>
        <div class="item full-width mt-4">
          <v-btn @click="toNextStage" color="info" block large>Create signature</v-btn>
          <div class="text-xs-right">
            <SupportButton />
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { SupportButton } from '../../components'
import { USER_IN_ROOM } from '../../constants/stages'
import { NotarySession } from '../../services/NotarySession'

export default {
  components: { SupportButton },
  computed: {
    ...mapState(['stage', 'signatureImage'])
  },
  async mounted () {
    // If signature was already captured and that-s not mobile verification flow skip the capture signature step
    if (NotarySession.init().isMobileVerificationFlow() === false && this.signatureImage) {
      await NotarySession.commitStage(USER_IN_ROOM)
    }
  },
  methods: {
    toNextStage () {
      NotarySession.toNextStage(this.stage)
    }
  }
}
</script>
