<template>
  <v-container class="main-container">
    <v-container fill-height color="gray" class="content-container">
      <v-layout justify-center column>
        <v-flex xs1 class="text-xs-center subheading">Next document loading…</v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import { initMeeting } from '../../assets/js/twiliovideo'
import { NotarySession } from '../../services/NotarySession'
import { USER_SIGNING_PROCESS_START } from '../../constants/stages'

export default {
  data: () => ({}),
  computed: {
    ...mapState(['settings', 'stage'])
  },
  async mounted () {
    const notarySession: NotarySession = NotarySession.init()
    const sessionId: string = notarySession.getSessionId()

    await initMeeting('user', { ...this.settings, sessionId })
    setTimeout(() => NotarySession.commitStage(USER_SIGNING_PROCESS_START), 2000)
  }
}
</script>
