<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2"></v-toolbar>
    <v-container fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout v-if="paymentMode === 'default'" justify-center column>
        <div class="item text--info headline text-xs-center">Notary Session Completed</div>
        <div class="item mt-4 subheading text-xs-left text-sm-center">
          Your notarized document(s) will be emailed to you shortly
        </div>
        <div class="item mt-3 mb-5 subheading text-xs-left text-sm-center">
          You can now close this browser window. Thank you for notarizing your document online!
        </div>
      </v-layout>
      <v-layout v-if="paymentMode === 'session'">
        <v-card style="width: 100%; padding: 30px; text-align: center;">
          <img src="/icons/OnlineNotary_Icon-Blue.png" width="150px" />
          <h1 class="mt-3 text-green">Your payment is complete</h1>
          <p class="mt-5 pt-3" style="font-size: 19px;">Your notarized document(s) will be emailed to you shortly.</p>
          <p class="mt-5 pt-5 text-light">You can now close this browser window.</p>
        </v-card>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
// @flow
import { leaveMeeting } from '../../assets/js/twiliovideo'
import { NotarySession } from '../../services/NotarySession'

export default {
  data: () => ({
    paymentMode: ''
  }),
  mounted () {
    const session = NotarySession.init()
    this.paymentMode = session.getMode()
    setTimeout(() => leaveMeeting(), 1500)
  }
}
</script>
