<template>
  <v-container class="main-container">
    <TempAlert :errorMessage="errorMessage" @onAutoHideError="errorMessage = null" />
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title v-if="idRetakeCounter === 0">Photo ID Verification</v-toolbar-title>
      <v-toolbar-title v-else class="text--error">Unable to capture ID image</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center column>
        <div v-if="isLoading">
          <div class="pa-4">
            <i class="fas fa-user-shield fa-screen-icon-logo text--success" />
          </div>
          <div class="text-xs-center mt-2 subheading">Verifying ID…</div>
          <div class="mt-5 pr-4">
            <v-progress-circular indeterminate color="green" :size="50" :width="7" class="ml-3" />
          </div>
        </div>

        <div v-else>
          <div v-if="idRetakeCounter === 0">
            <div class="item">
              <div class="pb-2">
                <span class="icon-id text--success text--70" />
              </div>
              <div class="text-xs-left subheading font-weight-medium text-spacing--narrow">
                We will first capture an image of the <b>front</b> side of your photo ID.
              </div>
            </div>

            <div v-if="isMobileClient">
              <template v-if="docType === null">
                <v-radio-group v-model="docTypeSelection" hide-details>
                  <v-radio
                    v-for="d in docTypes"
                    :key="d.name"
                    :label="d.name"
                    :value="d"
                    class="pt-2 pb-2"
                  ></v-radio>
                </v-radio-group>
                <div v-if="docTypeSelection" class="item full-width">
                  <v-btn @click="docType = docTypeSelection" color="info" block large>Continue</v-btn>
                </div>
                <div class="text--error text-xs-left mt-3">
                  Texas residents: we currently cannot process the new forms of Texas driver's license and state ID
                  cards that are being issued starting February 24, 2020. You can, however, use your US passport or your
                  previous driver's license (as long as it has not expired).
                </div>
              </template>
              <template v-else>
                <div class="item full-width mt-3">
                  <v-btn @click="captureId('autoCapture')" color="info" block large>
                    Continue with auto-capture
                  </v-btn>
                </div>
                <div>OR</div>
                <div class="item full-width pt-1">
                  <v-btn @click="captureId('legacy')" color="info" block large>
                    Continue with manual capture
                  </v-btn>
                </div>
                <div class="item full-width pt-1 caption font-italic text-xs-left text-spacing--narrow">
                  Manual capture requires that you capture your ID image with your device's built-in camera
                </div>
                <div class="item pt-1">
                  <v-btn @click="purgeDocType()" color="info" flat large>
                    Select another type of photo ID
                  </v-btn>
                </div>
              </template>
            </div>
            <v-layout v-else row wrap align-center fill-height justify-center class="mt-5">
              <v-flex
                @click="isIdVerificationSendLinkPopupVisible = true"
                @mouseover="hoverStorage.mobile = true"
                @mouseleave="hoverStorage.mobile = false"
                :class="{ 'elevation-9': hoverStorage.mobile }"
                xs5
                class="elevation-4 pt-3 pb-3 button-container background--white transition--fast"
              >
                <div class="title">
                  <v-icon class="fas fa-mobile-alt" />
                </div>
                <div class="pt-3 text-uppercase text--info">Capture ID image with your mobile device</div>
              </v-flex>
              <v-flex xs1>OR</v-flex>
              <v-flex
                @click="captureId('legacy')"
                @mouseover="hoverStorage.upload = true"
                @mouseleave="hoverStorage.upload = false"
                :class="{ 'elevation-9': hoverStorage.upload }"
                xs5
                class="elevation-4 pt-3 pb-3 button-container background--white transition--fast"
              >
                <div class="title">
                  <v-icon class="fas fa-upload" />
                </div>
                <div class="pt-3 text-uppercase text--info">Upload image file from your computer</div>
              </v-flex>
              <v-flex xs20 class="font-italic mt-3 caption">
                A link will be sent to your mobile device that will you capture your ID image when clicked
              </v-flex>
            </v-layout>
          </div>

          <div v-else>
            <template v-if="docType === null">
              <v-radio-group v-model="docTypeSelection" hide-details>
                <v-radio
                  v-for="d in docTypes"
                  :key="d.name"
                  :label="d.name"
                  :value="d"
                  class="pt-2 pb-2"
                ></v-radio>
              </v-radio-group>
              <div v-if="docTypeSelection" class="item full-width">
                <v-btn @click="docType = docTypeSelection" color="info" block large>Continue</v-btn>
              </div>
              <div class="text--error text-xs-left mt-3">
                Texas residents: we currently cannot process the new forms of Texas driver's license and state ID
                cards that are being issued starting February 24, 2020. You can, however, use your US passport or your
                previous driver's license (as long as it has not expired).
              </div>
            </template>
            <template v-else>
              <div class="item full-width pt-5">
                <v-btn @click="captureId('autoCapture')" color="info" block large>
                  Re-take image with auto-capture
                </v-btn>
              </div>
              <div class="item full-width pt-1 caption font-italic">
                Try this option if you had problems using regular device camera.
              </div>
              <div class="item full-width pt-5">
                <v-btn @click="captureId('legacy')" color="info" block large>
                  Re-take image with your device camera
                </v-btn>
              </div>
              <div class="item full-width pt-1 caption font-italic">
                Try this option if you had problems using the auto-capture interface. You will be taking a picture of the
                ID your device's regular camera.
              </div>
              <div class="item pt-1">
                <v-btn @click="purgeDocType()" color="info" flat large>
                  Select another type of photo ID
                </v-btn>
              </div>
            </template>
          </div>
        </div>

        <div class="text-xs-right full-width mt-3">
          <SupportButton />
        </div>

        <IdVerificationSendLinkPopup
          :isVisible="isIdVerificationSendLinkPopupVisible"
          :isLoading="isIdVerificationLinkSending"
          :errorMessage="isIdVerificationSendLinkError"
          @onClosed="isIdVerificationSendLinkPopupVisible = false"
          @onConfirmed="sendLink"
        />
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import Logger from '../../services/Logger'
import { isMobileMixin } from '../../mixins'
import { NotarySession } from '../../services/NotarySession'
import { AUTO_CAPTURE } from '../../constants/idVerificators'
import PersonalDetailsModel from '../../models/PersonalDetailsModel'
import { tryExec, extractFirstAndLastName } from '../../services/utils'
import { ID_VERIFICATION_FAILED, PERSONAL_DETAILS } from '../../constants/stages'
import IdVerificatorFactory from '../../services/IdVerificators/IdVerificatorFactory'
import { TempAlert, SupportButton, IdVerificationSendLinkPopup } from '../../components'
import { ID_FRONT_DOCUMENT_TYPE, PASSPORT_DOCUMENT_TYPE } from '../../constants/documents'

const maxRetakes = 2
const logger = Logger.create()

export default {
  mixins: [isMobileMixin],
  components: { TempAlert, SupportButton, IdVerificationSendLinkPopup },
  data: () => ({
    idVerificator: null,
    errorMessage: null,
    isLoading: false,
    isIdVerificationSendLinkPopupVisible: false,
    isIdVerificationLinkSending: false,
    isIdVerificationSendLinkError: null,
    hoverStorage: {
      mobile: false,
      upload: false
    },
    docTypeSelection: null,
    docType: null,
    docTypes: [
      { name: 'US state driver\'s license', value: ID_FRONT_DOCUMENT_TYPE },
      { name: 'US passport', value: PASSPORT_DOCUMENT_TYPE },
      { name: 'US state identification card', value: ID_FRONT_DOCUMENT_TYPE }
    ]
  }),
  computed: {
    ...mapState(['stage', 'idRetakeCounter'])
  },
  mounted () {
    if (this.checkRetakeCounter() === false) {
      return
    }

    this.setUpIdVerificator(AUTO_CAPTURE)
  },
  methods: {
    async setUpIdVerificator (name) {
      if (this.idVerificator && this.idVerificator.name === name) {
        return this.idVerificator
      }

      const credentials = NotarySession.init().generateCredentials()

      this.idVerificator = IdVerificatorFactory.create(name).setCredentials(credentials)
      await this.idVerificator.loadSrc()
    },
    async captureId (verificatorName) {
      this.isLoading = true
      await this.setUpIdVerificator(verificatorName)

      try {
        const { image } = await this.idVerificator.startAutoCapture(this.docType.value)

        await this.verifyId(image)
      } catch (e) {
        this.setError(e)
      } finally {
        this.isLoading = false
      }
    },
    setError (e) {
      if (e instanceof Array) {
        e = e[0]
      }

      console.error(e)
      this.errorMessage = e.message || e.type || e
    },
    async verifyId (image) {
      try {
        const { authenticated, extractedData, extra } = await this.idVerificator.verify(image)

        if (authenticated === false) {
          return this.retake(this.idVerificator.translateErrors(extra))
        }

        const personalDetailsModel = new PersonalDetailsModel()
          .setProp('address1', tryExec(() => extractedData.address.addressLine1 || null))
          .setProp('city', tryExec(() => extractedData.address.city || null))
          .setProp('state', tryExec(() => extractedData.address.stateProvince || null))
          .setProp('zipCode', tryExec(() => (
            extractedData.address.postalCode.substr(0, 5) || null
          )))
          .setProp('dob', tryExec(() => extractedData.dateOfBirth || null))

        if (this.docType.value === ID_FRONT_DOCUMENT_TYPE) {
          personalDetailsModel.setProp('dl', tryExec(() => extractedData.documentNumber || null))
        }

        const extractedName = tryExec(() => extractedData.name.fullName)

        if (extractedName) {
          const { firstName, lastName } = extractFirstAndLastName(extractedName)

          personalDetailsModel.setProp('firstName', firstName)
            .setProp('lastName', lastName)
        }

        const userInfo = { userInfo: personalDetailsModel.getData() }

        if (NotarySession.init().isKBAFlow()) {
          return NotarySession.commitStage(PERSONAL_DETAILS, userInfo)
        }

        return NotarySession.toNextStage(this.stage, userInfo)
      } catch (e) {
        console.log(e)
        this.setError(e)
      }
    },
    async retake (errors) {
      const errorMessage = errors.join(', ')

      if (this.checkRetakeCounter() === false) {
        return
      }

      this.setError(errorMessage || 'Error during capturing the document')
      await NotarySession.setIdRetakeCounter(this.idRetakeCounter + 1)
    },
    checkRetakeCounter () {
      if (this.idRetakeCounter >= maxRetakes) {
        NotarySession.commitStage(ID_VERIFICATION_FAILED)
        return false
      }

      return true
    },
    async sendLink (data) {
      this.isIdVerificationSendLinkError = null
      this.isIdVerificationLinkSending = true

      try {
        const response = await NotarySession.sendIdVerificationLink({
          ...data,
          sessionId: NotarySession.init().getSessionId()
        })

        logger.debug(response)
        this.isIdVerificationSendLinkPopupVisible = false

        return NotarySession.toNextStage(this.stage)
      } catch (e) {
        this.isIdVerificationSendLinkError =
          tryExec(() => e.response.data.error.message) || tryExec(() => e.response.data.error) ||
          tryExec(() => e.response.data)
      } finally {
        this.isIdVerificationLinkSending = false
      }
    },
    purgeDocType () {
      this.docType = null
      this.docTypeSelection = null
    }
  }
}
</script>
