<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title class="text--error">Unable to capture ID image</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout justify-center column>
        <div class="item text-xs-left pt-3">
          Sorry, our system is still unable to capture an image of your photo ID in a manner that allows for the
          state-mandated verification lookup.
        </div>
        <div class="item text-xs-left pt-5">
          Please contact your notary public directly or reach out to support team via text chat by clicking
          <a href="javascript:void(0);" @click="showSupportWindow">HERE</a>
        </div>
        <div class="item pt-5">
          <v-btn flat color="primary">End session</v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapMutations } from 'vuex'

export default {
  methods: {
    ...mapMutations(['showSupportWindow'])
  }
}
</script>
