<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <div v-if="official">
        <div class="subheading font-weight-medium">{{ official.name }}</div>
        <div v-if="official.number" class="subheading">Notary # {{ official.number }}</div>
      </div>
    </v-toolbar>
    <v-container color="gray" class="fill-height-with-toolbar">
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card>
              <div id="remote-media" class="video-container" v-show="isParticipantReady"></div>
              <v-layout
                v-if="!isParticipantReady"
                class="official-video-placeholder"
                align-center
                justify-center
                column
                fill-height
              >
                <v-icon class="screen-icon-logo" color="info">fas fa-video</v-icon>
                <div class="text--info mt-4 body-2">Waiting for notary to join meeting</div>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex xs6>
            <v-card>
              <div id="local-media" class="video-container"></div>
            </v-card>
          </v-flex>
          <v-flex xs6>
            <v-layout column align-center justify-center fill-height>
              <span class="text--error">Identity quiz not passed.</span>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { initMeeting } from '../../assets/js/twiliovideo.js'
import { NotarySession } from '../../services/NotarySession'

export default {
  data: () => ({
    isParticipantReady: false
  }),
  computed: {
    ...mapState(['settings', 'official'])
  },
  async mounted () {
    const sessionId = NotarySession.init().getSessionId()

    await initMeeting('user', {
      onParticipantJoined: () => {
        this.isParticipantReady = true
      },
      onParticipantDisconnected: () => {
        this.isParticipantReady = false
      },
      ...this.settings,
      sessionId
    })
  }
}
</script>
