<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title>
        <span v-if="questions.length">Question {{ currentQuestionNumber }} of {{ questions.length }}</span>
        <span v-else>Loading...</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div id="remote-media" class="toolbar-video-preview pull-right"></div>
    </v-toolbar>
    <v-container
      v-if="questions.length"
      text-xs-center
      fill-height
      color="gray"
      class="content-container fill-height-with-toolbar"
    >
      <v-layout column>
        <div class="item">
          <div class="text-xs-left subheading font-weight-medium text--success">
            {{ currentQuestion.text }}
          </div>
          <v-radio-group v-model="currentAnswer">
            <v-radio
              v-for="option in currentQuestion.options"
              :key="option.name"
              :label="option.value"
              :value="option.value"
              class="pt-2 pb-2"
            ></v-radio>
          </v-radio-group>
        </div>
        <div class="item full-width">
          <div class="text-uppercase text--info pb-3">
            Remaining Time: {{ timeLeft }}
          </div>
          <v-btn @click="nextQuestion" :disabled="!currentAnswer" block large color="info">Next question</v-btn>
        </div>
        <div class="item full-width text-xs-right pb-4">
          <SupportButton />
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { SupportButton } from '../../components'
import { KBA_FAILS } from '../../constants/stages'
import { NotarySession } from '../../services/NotarySession'
import KBAVerificatorFactory from '../../services/KBAVerificator/KBAVerificatorFactory'
import { initMeeting } from '../../assets/js/twiliovideo.js'

export default {
  components: { SupportButton },
  data: () => ({
    timer: null,
    secondsLeft: 2 * 60,
    currentQuestionNumber: 1,
    verificator: KBAVerificatorFactory.create(),
    questions: [],
    currentAnswer: null,
    session: NotarySession.init()
  }),
  computed: {
    currentQuestion () {
      return this.questions[this.currentQuestionNumber - 1]
    },
    timeLeft () {
      let seconds = this.secondsLeft % 60
      const minutes = Math.floor(this.secondsLeft / 60)

      if (seconds <= 9) {
        seconds = `0${seconds}`
      }

      return `${minutes}:${seconds}`
    },
    ...mapState(['stage', 'settings'])
  },
  methods: {
    createTimer () {
      return setInterval(() => {
        if (this.secondsLeft <= 0) {
          this.removeTimer()
          NotarySession.commitStage(KBA_FAILS)
        }

        this.secondsLeft--
      }, 1000)
    },
    removeTimer () {
      if (this.timer) {
        clearInterval(this.timer)

        return true
      }

      return false
    },
    async nextQuestion () {
      const nextQuestionNumber = this.currentQuestionNumber + 1

      this.verificator.saveAnswer({
        answer: this.currentAnswer,
        questionId: this.currentQuestion.id
      })
      this.currentAnswer = null

      if (this.currentQuestionNumber >= this.questions.length) {
        const isPassed = await this.verificator.submitAnswers()

        if (isPassed === false) {
          return NotarySession.commitStage(KBA_FAILS)
        }

        return NotarySession.toNextStage(this.stage)
      }

      this.currentQuestionNumber = nextQuestionNumber
    }
  },
  mounted () {
    this.timer = this.createTimer()
    this.questions = this.verificator
      .setCredentials(this.session.generateCredentials())
      .getQuestions()

    initMeeting('user', {
      ...this.settings,
      sessionId: this.session.getSessionId()
    })
  },
  beforeDestroy () {
    this.removeTimer()
  }
}
</script>
