<template>
  <v-container class="main-container">
    <TempAlert
      :errorMessage="errorMessage"
      :errorMessagePrefix="'Getting KBA questions error:'"
      @onAutoHideError="errorMessage = null"
    />
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title>Identity Verification</v-toolbar-title>
      <v-spacer />
      <div id="remote-media" class="toolbar-video-preview pull-right"></div>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center justify-start column>
        <div class="item">
          <div class="pb-4">
            <span class="text--success text--90 icon-user" />
          </div>
          <div class="text-xs-left subheading font-weight-medium text-spacing--narrow">
            For your security please answer the following short questions.
          </div>
          <div class="text-xs-left subheading mt-2 text-spacing--narrow">
            Please answer all questions within two minutes.
          </div>
          <div class="full-width mt-4">
            <v-btn @click="toNextStage" :loading="areQuestionsLoading" color="info" block large>
              Start questions
            </v-btn>
          </div>
          <div class="item full-width text-xs-right">
            <SupportButton />
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { NotarySession } from '../../services/NotarySession'
import { KBA_IN_PROGRESS, CHECK_PERSONAL_DETAILS } from '../../constants/stages'
import KBAVerificatorFactory from '../../services/KBAVerificator/KBAVerificatorFactory'
import { joinIfNotEmpty, tryExec } from '../../services/utils'
import { TempAlert, SupportButton } from '../../components'
import { initMeeting } from '../../assets/js/twiliovideo.js'
import UnknownPersonKbaError from '../../errors/UnknownPersonKbaError'

export default {
  components: { TempAlert, SupportButton },
  data: () => ({
    verificator: KBAVerificatorFactory.create(),
    areQuestionsLoading: false,
    errorMessage: null,
    session: NotarySession.init()
  }),
  computed: {
    ...mapState(['userInfo', 'user', 'settings'])
  },
  mounted () {
    initMeeting('user', {
      ...this.settings,
      sessionId: this.session.getSessionId()
    })
  },
  methods: {
    async toNextStage () {
      try {
        this.areQuestionsLoading = true
        await this.verificator
          .setCredentials(this.session.generateCredentials())
          .generateQuestions({
            firstName: this.userInfo.firstName,
            lastName: this.userInfo.lastName,
            address: joinIfNotEmpty(this.userInfo.address1, this.userInfo.address2),
            city: this.userInfo.city,
            state: this.userInfo.state,
            zip: this.userInfo.zipCode,
            dob: this.userInfo.dob && this.userInfo.dob.replace(/[^0-9]/g, ''),
            ...(this.userInfo.ssn && { ssn: this.userInfo.ssn })
          })
        await NotarySession.commitStage(KBA_IN_PROGRESS)
      } catch (e) {
        this.setError(e)
      } finally {
        this.areQuestionsLoading = false
      }
    },
    setError (e) {
      console.error(e)
      this.errorMessage = tryExec(() => e.response.data.error, e.message)

      if (e instanceof UnknownPersonKbaError) {
        NotarySession.commitStage(CHECK_PERSONAL_DETAILS)
      }
    }
  }
}
</script>
