<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2"></v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout align-center justify-start column>
        <div class="item text-spacing--narrow">
          <v-icon class="screen-icon-logo" color="success">fas fa-video</v-icon>
          <div class="subheading font-weight-medium mt-4">
            Your online notary meeting will now start.
          </div>
          <div class="subheading mt-4 text-spacing--normal">
            The meeting's video conference will be recorded as proof of notarization under state law.
          </div>
        </div>
        <div class="item full-width mt-3">
          <v-btn @click="toNextStage" block large color="info">Connect to meeting</v-btn>
          <div class="text-xs-right">
            <SupportButton />
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { SupportButton } from '../../components'
import { USER_IN_ROOM } from '../../constants/stages'
import { NotarySession } from '../../services/NotarySession'

export default {
  components: { SupportButton },
  methods: {
    toNextStage () {
      NotarySession.commitStage(USER_IN_ROOM)
    }
  }
}
</script>
