<template>
  <v-dialog :value="isPopupVisible" persistent width="600">
    <v-card>
      <v-container grid-list-md text-xs-center class="pb-0">
        <v-layout row wrap>
          <v-flex xs2>
            <v-icon class="small-icon">fas fa-mobile-alt</v-icon>
          </v-flex>
          <v-flex xs10 class="text-xs-left">
            <div class="title-container">A link has been sent to your mobile device</div>
            <div>Tap the link on your device and then return to this screen when complete.</div>
          </v-flex>
          <v-flex xs12 class="text--error pt-3 pb-1 text--20">Leave this window open in your computer.</v-flex>
          <v-flex class="pt-3 pb-1 text--info">
            If you didn't receive a text, please click
            <a href="javascript:void(0);" @click="goToSmsStep" class="text--error">HERE</a>
            to return to the previous screen and re-enter a phone number. Or, you may access this session directly from
            your mobile device by clicking the same link that was emailed to you from this session.
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
// @flow
import { NotarySession } from '../../services/NotarySession'
import { ID_VERIFICATION_START } from '../../constants/stages'

export default {
  data: () => ({
    isPopupVisible: true
  }),
  methods: {
    goToSmsStep (): void {
      NotarySession.commitStage(ID_VERIFICATION_START)
    }
  }
}
</script>
