<template>
  <v-container class="main-container">
    <v-container
      text-xs-center
      fill-height
      color="gray"
      class="content-container fill-height-with-toolbar p-4"
    >
      <div v-if="isMobile" class="mt-5">
        <v-card>
          <v-layout column>
            <div style="padding: 30px;">
              <div class="item">
                <div class="text-xs-left pb-3">
                  <img src="../../assets/img/OnlineNotary_Logo-Blue-LG.png" style="width: 170px;" />
                </div>
                <p class="text-medium no-margin no-padding">Online notary session</p>
                <h1 class="pb-3 no-margin">${{ rate }}</h1>
                <p class="pb-3 text-medium pr-5 pl-5">
                  Your document(s) will be emailed to you once your payment is confirmed
                </p>
              </div>
              <div class="item">
                <div class="text-xs-left subheading">
                  <div>
                    <div>
                      <b class="p-card-heading">Name on card</b>
                      <input v-model="username" ref="username" class="p-card-input-outer" :id="'card-name'" />
                    </div>
                    <div class="mt-2">
                      <b class="p-card-heading">Card information</b>
                      <div style="position: relative;">
                        <div :id="'card-number'" class="p-card-input-outer no-bottom-br" />
                        <div style="position: absolute; right: 5px; top: 17px;">
                          <img src="../../assets/icons/card-icon-1.png" class="cc-icon mr-1" />
                          <img src="../../assets/icons/card-icon-2.png" class="cc-icon mr-1" />
                          <img src="../../assets/icons/card-icon-3.png" class="cc-icon mr-1" />
                          <img src="../../assets/icons/card-icon-4.png" class="cc-icon mr-1" />
                        </div>
                      </div>
                      <div class="d-flex fs-15px" style="position: relative;">
                        <div style="position: absolute; right: 5px; bottom: 6px;">
                          <img src="../../assets/icons/cvv-card-icon.png" class="cc-icon mr-1" />
                        </div>
                        <div class="p-card-input w-50" :id="'card-expiry'" />
                        <div class="p-card-input w-50" :id="'card-cvc'" />
                      </div>
                    </div>
                    <p :id="'card-errors'"
                       class="mt-1"
                       style="height: 40px; font-size: 14px; color: rgb(220,20,60);"
                       role="alert"
                    >
                      {{ errorMessage }}
                    </p>
                  </div>
                </div>
                <div class="item" style="margin: 0 auto">
                  <v-btn @click="confirmPayment" :disabled="isLoading" class="p-btn" block large>Pay ${{ rate }}</v-btn>
                </div>
                <p class="text-blue mt-5">Contact us at support@onlinenotary.us</p>
                <div class="text-xs-left pt-5 mt-5 text-light">
                  Powered by <b>stripe</b>
                  <span class="pl-2 pr-2">|</span>
                  <span class="pr-2">Terms</span>
                  <span>Privacy</span>
                </div>
              </div>
            </div>
          </v-layout>
        </v-card>
      </div>

      <template v-else>
        <div class="mt-5">
          <v-card>
            <v-layout justify-center row>
              <v-flex xs6>
                <v-layout column>
                  <div class="card-content">
                    <div class="item">
                      <div class="text-xs-left pb-3">
                        <img src="../../assets/img/OnlineNotary_Logo-Blue-LG.png" style="width: 170px;" />
                      </div>
                      <p class="text-xs-left text-medium no-margin no-padding">Online notary session</p>
                      <h1 class="text-xs-left pb-5 no-margin">${{ rate }}</h1>
                      <p class="pt-5 pb-5 text-medium pr-5 pl-5">
                        Your document(s) will be emailed to you once your payment is confirmed
                      </p>
                      <p class="text-blue">Contact us at support@onlinenotary.us</p>
                      <div class="text-xs-left pt-5 mt-5 text-light">
                        Powered by <b>stripe</b>
                        <span class="pl-2 pr-2">|</span>
                        <span class="pr-2">Terms</span>
                        <span>Privacy</span>
                      </div>
                    </div>
                  </div>
                </v-layout>
              </v-flex>
              <v-flex xs6>
                <v-layout column>
                  <div class="card-content">
                    <div class="item">
                      <div class="text-xs-left subheading">
                        <p style="font-size: 19px;">Pay with card</p>
                        <div>
                          <div>
                            <b class="p-card-heading">Name on card</b>
                            <input v-model="username" id="card-name" ref="username" class="p-card-input-outer" />
                          </div>
                          <div>
                            <b class="p-card-heading">Card information</b>
                            <div style="position: relative;">
                              <div id="card-number" class="p-card-input-outer no-bottom-br" />
                              <div style="position: absolute; right: 5px; top: 4px;">
                                <img src="../../assets/icons/card-icon-1.png" class="cc-icon mr-1" />
                                <img src="../../assets/icons/card-icon-2.png" class="cc-icon mr-1" />
                                <img src="../../assets/icons/card-icon-3.png" class="cc-icon mr-1" />
                                <img src="../../assets/icons/card-icon-4.png" class="cc-icon mr-1" />
                              </div>
                            </div>
                            <div class="d-flex fs-15px" style="position: relative;">
                              <div style="position: absolute; right: 5px; bottom: 6px;">
                                <img src="../../assets/icons/cvv-card-icon.png" class="cc-icon mr-1" />
                              </div>
                              <div class="p-card-input w-50" id="card-expiry" />
                              <div class="p-card-input w-50" id="card-cvc" />
                            </div>
                          </div>
                          <p id="card-errors"
                             class="mt-3"
                             style="height: 40px; font-size: 14px; color: rgb(220, 20, 60);"
                             role="alert"
                          >
                            {{ errorMessage }}
                          </p>
                        </div>
                      </div>
                      <div class="item" style="margin: 0 auto">
                        <v-btn @click="confirmPayment" :disabled="isLoading" class="p-btn" block large>
                          Pay ${{ rate }}
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </div>
      </template>
    </v-container>
  </v-container>
</template>
<script>
import axios from 'axios'
import { mapState } from 'vuex'
import Logger from '../../services/Logger'
import { NotarySession } from '../../services/NotarySession'

const Stripe = window.Stripe(`${process.env.VUE_APP_STRIPE_CLIENT_CONFIG}`)
const StripeElements = Stripe.elements()
const Style = {
  base: {
    color: 'rgba(0, 0, 0, 0.6)',
    lineHeight: '38px',
    fontSize: '15px',
    '::placeholder': {
      color: 'rgba(0, 0, 0, 0.3)'
    }
  }
}
const logger = Logger.create()
const cardNumber = StripeElements.create('cardNumber', {
  style: Style,
  placeholder: '1234 1234 1234 1234'
})
const cardExpiry = StripeElements.create('cardExpiry', {
  style: Style,
  placeholder: 'MM / YY'
})
const cardCvc = StripeElements.create('cardCvc', {
  style: Style,
  placeholder: 'CVC'
})

export default {
  data: () => ({
    isLoading: true,
    errorMessage: '',
    code: '',
    name: '',
    email: '',
    rate: '',
    username: '',
    cardNumber: '',
    cardExpiry: '',
    cardCvc: '',
    isMobile: window.innerWidth < 992
  }),
  computed: {
    ...mapState(['stage'])
  },
  methods: {
    toNextStage () {
      NotarySession.toNextStage(this.stage)
    },
    confirmPayment () {
      if (!this.username) {
        this.$refs.username.focus()
        return
      }

      this.isLoading = true

      Stripe.confirmCardPayment(this.code, {
        payment_method: {
          card: cardNumber,
          billing_details: {
            name: this.username,
            email: this.email
          }
        }
      }).then((result) => {
        this.isLoading = false

        if (result.error) {
          this.errorMessage = result.error.message
        } else {
          this.toNextStage()
        }
      }).catch((err) => {
        logger.debug(err)

        this.errorMessage = 'Something went wrong'
      })
    },
    handleError ({ error }) {
      if (error) {
        this.errorMessage = error.message
      } else {
        this.errorMessage = ''
      }
    },
    cardListeners () {
      cardNumber.mount('#card-number')
      cardExpiry.mount('#card-expiry')
      cardCvc.mount('#card-cvc')
      cardNumber.addEventListener('change', this.handleError, true)
      cardExpiry.addEventListener('change', this.handleError, true)
      cardCvc.addEventListener('change', this.handleError, true)
    }
  },
  async mounted () {
    this.cardListeners()

    try {
      const session = NotarySession.init()
      const sessionId = session.getSessionId()
      const { data } = await axios.post(
        `${process.env.VUE_APP_API_BASE_URL}/payment/create`,
        {
          sessionId: sessionId
        }
      )

      const tempRate = session.getRate()
      const user = session.getUser()

      if (tempRate) {
        this.rate = tempRate
      }

      this.code = data.code
      this.name = user.fullName
      this.email = user.email
      this.isLoading = false
    } catch (err) {
      logger.debug(err)

      this.errorMessage = 'Something went wrong'
    }
  },
  async beforeDestroy () {
    cardNumber.removeEventListener('change', this.handleError, true)
    cardExpiry.removeEventListener('change', this.handleError, true)
    cardCvc.removeEventListener('change', this.handleError, true)
  }
}
</script>
<style>
.cc-icon {
  width: 30px;
}
.card-content {
  padding: 35px;
}
</style>
