<template>
  <v-container class="main-container">
    <v-container
      text-xs-center
      fill-height
      color="gray"
      class="content-container fill-height-with-toolbar"
    >
      <v-layout column>
        <div class="item mt-5 pt-5">
          <div class="p-5">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
          </div>
          <h1 class="mt-5 p-5"><b style="color: #223E92;">Processing Payment</b></h1>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<style>
  .md-progress-spinner {
    margin: 24px;
  }
  .md-progress-spinner.md-theme-default .md-progress-spinner-circle {
    stroke: #223E92;
  }
</style>
