<template>
  <v-container class="main-container">
    <v-container
      text-xs-center
      fill-height
      color="gray"
      class="content-container fill-height-with-toolbar p-4"
    >
      <div v-if="errorMessage" class="payer-card">
        <h1>{{ errorMessage }}</h1>
      </div>
      <div v-else class="payer-card">
        <h1 class="text-blue">Online notary session completed</h1>
        <div class="d-flex mt-3">
          <div class="text-xs-left w-100px">Signer</div>
          <b class="text-xs-left w-200px">{{ signerName }}</b>
        </div>
        <div class="d-flex mt-3">
          <div class="text-xs-left w-100px">Date</div>
          <b class="text-xs-left w-100px">{{ date }}</b>
        </div>
        <div class="d-flex mt-3">
          <div class="text-xs-left w-100px">Fee</div>
          <b class="text-xs-left w-100px">${{ rate }}</b>
        </div>
        <div class="mt-5">
          <p v-if="payerEmail">
            The person at email address {{ payerEmail }} is designated as the party responsible for paying the
            notary fee.
          </p>
          <br />
          Your signed and notarized document(s) will be emailed to you and to any designated copy recipient(s) once
          payment is processed.
        </div>

        <div v-if="payerEmail" class="mt-5">
          Or click <span class="text-green" @click="toNextStage">HERE</span> to pay now
        </div>
        <div v-else class="mt-5">
          <v-btn class="btn btn-default bg-green py-2 px-5 text-white" @click="toNextStage">PAY NOW</v-btn>
          <p>
            or close this window and pay later from the
            <br/>
            payment link that was just emailed to you
          </p>
        </div>

      </div>
    </v-container>
  </v-container>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import moment from 'moment'
import Logger from '../../services/Logger'
import { NotarySession } from '../../services/NotarySession'
import { parseQueryParameters } from '../../services/utils'
import { PAYMENT } from '../../constants/stages'

const logger = Logger.create()

export default {
  data: () => ({
    isLoading: true,
    errorMessage: '',
    hasError: '',
    signerName: '',
    payerEmail: '',
    rate: '',
    date: moment(new Date()).format('MM/DD/YYYY')
  }),
  computed: {
    ...mapState(['stage'])
  },
  methods: {
    toNextStage () {
      NotarySession.toNextStage(this.stage)
    }
  },
  async mounted () {
    try {
      const session = NotarySession.init()
      const params = parseQueryParameters(window.location.search)
      const isRefererEmail = params.has('referer') && params.get('referer') === 'email'

      if (isRefererEmail) {
        return NotarySession.commitStage(PAYMENT)
      }

      this.rate = session.getRate()
      this.signerName = session.getUser().fullName
      this.payerEmail = session.getPayerEmail()
    } catch (err) {
      this.errorMessage = 'Something went wrong'

      logger.debug(err)
    }

    this.isLoading = false
  }
}
</script>
