<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title v-if="isWarningVisible" class="text--error body-1">
        <div>There was a problem accessing</div>
        <div>the public database</div>
      </v-toolbar-title>
      <v-toolbar-title v-else>Your personal details</v-toolbar-title>
      <v-spacer></v-spacer>
      <div id="remote-media" class="toolbar-video-preview pull-right"></div>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar pt-1">
      <v-layout align-center justify-start column>
        <div class="item">
          <div v-if="isKBAFlow" class="text-xs-left subheading pb-3 pt-3 text-spacing--narrow">
            Please make any needed corrections or additions to your personal details.
          </div>
          <div v-else class="text-xs-left subheading pb-3 pt-3 text-spacing--narrow">
            Please enter your address information, which will be entered into the notary record:
          </div>

          <v-form ref="form" v-model="isFormValid">
            <v-layout align-center justify-space-between row wrap>
              <v-flex
                v-for="element in model.getFormElements()"
                :key="element.property"
                :class="{ xs6: shouldBeHalfWidth(element.property) }"
                class="low"
              >
                <FormItem :element="element" :model="model" />
              </v-flex>
              <DateFormItems v-if="!isPKFlow" :model="model" />
            </v-layout>
          </v-form>

          <v-btn @click="saveData" :disabled="!isFormValid" color="info" block large>
            {{ isKBAFlow ? 'Confirm & continue' : 'Confirm' }}
          </v-btn>
          <div class="text-xs-right">
            <SupportButton />
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import { flowMixin } from '../../mixins'
import { initMeeting } from '../../assets/js/twiliovideo'
import { NotarySession } from '../../services/NotarySession'
import { CHECK_PERSONAL_DETAILS } from '../../constants/stages'
import PersonalDetailsModel from '../../models/PersonalDetailsModel'
import { FormItem, SupportButton, DateFormItems } from '../../components'
import { MONTHS, DATES, generateReverseYearsArray } from '../../constants/dates'

export default {
  mixins: [flowMixin],
  components: { FormItem, SupportButton, DateFormItems },
  computed: {
    isWarningVisible (): boolean {
      return this.stage === CHECK_PERSONAL_DETAILS
    },
    ...mapState(['stage', 'user', 'userInfo', 'settings'])
  },
  data: () => ({
    isFormValid: false,
    model: new PersonalDetailsModel(),
    months: MONTHS,
    dates: DATES,
    years: generateReverseYearsArray(1920)
  }),
  mounted (): void {
    if (this.user) {
      this.model.populate(this.user)
    }

    if (this.userInfo) {
      this.model.populate(this.userInfo)
    }

    if (this.isPKFlow) {
      this.model.removeFormElements('dl', 'dob')
    }

    if (this.stage === CHECK_PERSONAL_DETAILS) {
      initMeeting('user', {
        ...this.settings,
        sessionId: this.getSession().getSessionId()
      })
    } else {
      this.model.removeFormElements('ssn')
    }
  },
  methods: {
    async saveData (): Promise<void> {
      await NotarySession.toNextStage(this.stage, { userInfo: this.model.getData() })
    },
    shouldBeHalfWidth (prop: string): boolean {
      return ['zipCode', 'state'].includes(prop)
    }
  }
}
</script>
