<style>
.signature-box {
  border: 2px dashed #4caf50;
}

.signature-canvas {
  height: 200px !important;
}
</style>
<template>
  <v-container class="main-container">
    <v-container text-xs-center fill-height color="gray" class="fill-height-with-toolbar">
      <v-layout align-center column>
        <div class="item full-width">
          <div class="text-xs-left title font-weight-bold text--success">Sign inside box</div>
          <div class="full-width mt-2 signature-box">
            <canvas class="full-width signature-canvas" ref="signature" />
          </div>
          <div class="text-xs-right">
            <v-btn @click="clearSignature" class="mr-0" flat large>Clear</v-btn>
          </div>
        </div>
        <div class="item full-width subheading text-xs-left">
          <div class="text-spacing--narrow">
            By pressing the ADOPT SIGNATURE button, below, you agree that the signature is a valid electronic
            representation of your signature and shall have the same effect as a pen-and-paper signature
          </div>

          <v-layout row class="mt-3">
            <v-btn @click="saveSignature" block large color="info">Adopt signature</v-btn>
          </v-layout>
        </div>
        <div class="item full-width text-xs-right">
          <SupportButton />
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import SignaturePad from 'signature_pad'
import { SupportButton } from '../../components'
import { clearCanvas } from '../../services/utils'
import { NotarySession } from '../../services/NotarySession'
import { MOBILE_VERIFICATION_SIGNATURE_CREATION, CAMERA_CHECK_START } from '../../constants/stages'

export default {
  components: { SupportButton },
  computed: {
    ...mapState(['stage'])
  },
  mounted () {
    this.initCanvas()
    window.addEventListener('resize', () => this.initCanvas(this.$options.signaturePad.toDataURL()))
  },
  beforeDestroy () {
    window.removeEventListener('resize', () => {})
  },
  methods: {
    clearSignature () {
      const canvas = this.$refs.signature

      clearCanvas(canvas)
    },
    initCanvas (signature = null) {
      const canvas = this.$refs.signature
      const ratio = Math.max(window.devicePixelRatio || 1, 1)

      this.$options.signaturePad = new SignaturePad(canvas, {
        minWidth: 3,
        maxWidth: 5
      })
      canvas.width = canvas.offsetWidth * ratio
      canvas.height = canvas.offsetHeight * ratio
      canvas.getContext('2d').scale(ratio, ratio)
      this.$options.signaturePad.clear()

      if (signature) {
        this.$options.signaturePad.fromDataURL(signature)
      }
    },
    async saveSignature () {
      const dataUrl = this.$refs.signature.toDataURL('image/png')

      await NotarySession.saveSignature(dataUrl)

      if (this.stage === MOBILE_VERIFICATION_SIGNATURE_CREATION) {
        return NotarySession.commitStage(CAMERA_CHECK_START)
      }

      return NotarySession.toNextStage(this.stage)
    }
  }
}
</script>
