<style>
.signature {
  width: 200px;
}

.tooltip--info {
  color: white;
  background-color: #006aff;
}

.tooltip--center {
  top: 300px !important;
  left: 25vw !important;
}

.tooltip--below-toolbar {
  top: 90px !important;
}

.tooltip-content {
  max-width: 50vw !important;
}
</style>
<template>
  <keep-alive>
    <v-container class="main-container">
      <div id="remote-media" class="toolbar-preview-video-container top-fixed-video-container"></div>
      <v-toolbar color="elevation-0 pt-4 pb-2">
        <v-toolbar-title v-if="isSigned" class="text--error">
          <span>Notarization in process</span>
          <v-progress-circular indeterminate color="red" class="ml-3" />
        </v-toolbar-title>
        <v-toolbar-title v-if="isSealed || isSessionEnded" class="text--success">Document notarized</v-toolbar-title>
        <v-spacer v-if="isSigned || isSealed || isSessionEnded"></v-spacer>
        <v-toolbar-items v-if="isButtonToolbarVisible">
          <v-btn
            v-if="isSignatureVisible"
            @click="sign"
            :loading="isLoading"
            large
            dark
            color="successAlt"
            class="elevation-12"
          >
            Confirm signature
          </v-btn>
          <v-btn
            v-else-if="signatureBoxReceivers.length"
            @click="loadSignature"
            :disabled="isSigned"
            dark
            color="ferrari"
          >
            Apply Signature
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-container text-xs-center color="gray" class="fill-height-with-toolbar pt-0">
        <v-layout align-center justify-space-between column>
          <v-card xs12>
            <SignatureBoxReceiver
              v-if="isDocumentRendered && isSignatureBoxReceiverAvailable"
              :canvas="document"
              :pageNumber="currentPageNumber"
              @neededPageChanged="changeCurrentPage"
              @signatureBoxReceiversChanged="changeSignatureBoxReceivers"
            />
            <ScaleNodeControls
              :isVisible="!!activeNode"
              :rightOffset="-20"
              :height="isDocumentRendered ? document.height : 0"
              @deleteClicked="deleteActiveNode()"
              @plusClicked="scaleSignature(1)"
              @minusClicked="scaleSignature(-1)"
            />
            <PreviewImageDocument
              :urls="documentImageUrls"
              :neededPage="neededPageNumber"
              @rendered="onDocumentRendered"
              @pageChanged="onPageChanged"
            />
            <VueDragResize
              v-if="isSignatureContainerVisible"
              v-show="signature.isSignatureLoaded"
              ref="signatureImageContainer"
              @resizing="onResize"
              @activated="() => toggleActiveNode($refs.signatureImage, true)"
              @deactivated="() => toggleActiveNode($refs.signatureImage, false)"
              :w="signature.width"
              :h="signature.height"
              :x="signature.startXPosition"
              :y="signature.startYPosition"
              :minh="signature.minHeight"
              :aspectRatio="signature.isSignatureLoaded"
              :class="isLoading ? 'padding' : 'bordered signature-box--background'"
              :stickSize="signature.stickSize"
              :isDraggable="!isLoading"
              :isResizable="!isLoading"
            ></VueDragResize>
            <img
              v-show="isSignatureVisible"
              v-bind:src="signature.getImageData()"
              @load="loaded"
              ref="signatureImage"
              class="signature"
              alt="Signature"
            />
          </v-card>

          <div class="full-width text-xs-right">
            <SupportButton />
          </div>
        </v-layout>
      </v-container>

      <CommandWatcher/>
    </v-container>
  </keep-alive>
</template>
<script>
// @flow
import { mapState } from 'vuex'
import VueDragResize from 'vue-drag-resize'

import { OFFICIAL_SEALED, USER_SIGNING_PROCESS_START, WAITING_FOR_THE_DOCUMENT } from '../../constants/stages'
import {
  scale, getDraggableOffset, getImageParams,
  extractPathFromUrl, getSignedDocumentKey, getCurrentDocument,
  scaleRectangle
} from '../../services/utils'
import {
  PreviewImageDocument, ScaleNodeControls, SupportButton,
  SignatureBoxReceiver, CommandWatcher
} from '../../components'
import {
  IMAGE_ADDED_SIGNATURE_EVENT, IMAGE_ADDED_SEAL_EVENT, TEXT_ADDED_EVENT,
  OPEN_NOTARY_FORM_EVENT, SIGNATURE_BUTTON_CLICKED_EVENT
} from '../../constants/events'
import ReportError from '../../errors/ReportError'
import Document from '../../models/Documents/Document'
import RemoteStorage from '../../services/RemoteStorage'
import { initMeeting } from '../../assets/js/twiliovideo'
import { NotarySession } from '../../services/NotarySession'
import DocumentLinks from '../../models/Documents/DocumentLinks'
import documentClick from '../../directives/DocumentClickDirective'
import { DOCUMENT_SIGNED_STAGE } from '../../constants/documentStages'
import {
  setErrorMixin, isMobileMixin, activeNodeMixin,
  documentImagesMixing
} from '../../mixins'
import SignatureImageNode from '../../models/GraphicNodes/SignatureImageNode'
import DesktopSignatureImageNode from '../../models/GraphicNodes/DesktopSignatureImageNode'
import type { Rectangle } from '../../interfaces/Rectangle'
import type { NotaryDocument } from '../../interfaces/NotaryDocument'
import type { PdfPageMeta } from '../../interfaces/PdfPageMeta'
import type { Direction } from '../../interfaces/Direction'
import type { PositionedRectangle } from '../../interfaces/PositionedRectangle'

export default {
  mixins: [setErrorMixin, isMobileMixin, activeNodeMixin, documentImagesMixing],
  components: {
    VueDragResize,
    PreviewImageDocument,
    ScaleNodeControls,
    SupportButton,
    SignatureBoxReceiver,
    CommandWatcher
  },
  directives: { documentClick },
  data () {
    return {
      isLoading: false,
      isSignatureVisible: false,
      isSignatureContainerVisible: false,
      isCanvasShown: false,
      documentUrl: null,
      document: {
        height: 0,
        width: 0
      },
      currentPageNumber: null,
      realDocumentWidth: 0,
      realDocumentHeight: 0,
      activeNode: null,
      isDocumentRendered: false,
      draggableOffset: getDraggableOffset(),
      signature: new SignatureImageNode(),
      infoMessage: null,
      infoMessageDuration: 5000,
      isMeetingInitialized: false,
      neededPageNumber: null,
      signatureBoxReceivers: []
    }
  },
  computed: {
    ...mapState(['stage', 'settings', 'events', 'signatureImage', 'signatureBoxPointers']),
    isButtonToolbarVisible (): boolean {
      return this.isSignatureVisible || (!this.isSigned && !this.isSealed && !this.isSessionEnded)
    },
    isSignatureBoxReceiverAvailable (): boolean {
      return this.stage === USER_SIGNING_PROCESS_START
    }
  },
  watch: {
    async stage (stage: string): Promise<void> {
      if (!stage || stage === WAITING_FOR_THE_DOCUMENT || stage === OFFICIAL_SEALED) {
        return
      }

      await this.configureCurrentDocumentImages()

      const currentDocumentLink = await this.getCurrentDocumentLink()

      if (currentDocumentLink !== this.documentUrl) {
        this.documentUrl = await this.getCurrentDocumentLink()
      }
    },
    async events (events: Array<string>): Promise<void> {
      const lastEvent = events && events[events.length - 1]

      if (!lastEvent) {
        return
      }

      this.infoMessage = this.getEventMessage(lastEvent)
    }
  },
  async mounted () {
    if (this.isDesktopClient) {
      this.signature = new DesktopSignatureImageNode()
    }
    this.$options.notarySession = NotarySession.init()
    const sessionId = this.$options.notarySession.getSessionId()
    const db = await RemoteStorage()

    this.$options.documentModel = Document.create(db)
    this.$options.documentLinks = new DocumentLinks()

    if (!this.isSessionEnded) {
      initMeeting('user', {
        ...this.settings,
        sessionId
      }).then(() => {
        this.isMeetingInitialized = true
      })
    }

    this.setDocuments()
    this.signature.setImageData(this.signatureImage)
  },
  methods: {
    onDocumentRendered (document: Rectangle): void {
      this.document = document
      this.isDocumentRendered = true
      this.signature.setParentDocument(document)

      if (this.stage === USER_SIGNING_PROCESS_START && !this.$options.documentInfoShown) {
        this.$options.documentInfoShown = true
      }
    },
    async loadSignature () {
      if (!this.signature.getImageData()) {
        this.setError('No signature loaded')
        return
      }

      this.$options.notarySession.addEvent(SIGNATURE_BUTTON_CLICKED_EVENT, this.events)
      this.isSignatureVisible = true

      if (this.isSignatureBoxReceiverAvailable && this.signatureBoxReceivers && this.signatureBoxReceivers.length > 0) {
        this.signature.placeInBox(this.signatureBoxReceivers[this.signatureBoxReceivers.length - 1])
        this.changeImageSize(this.signature)
      }

      await this.placeSignature()

      this.toggleActiveNode(this.$refs.signatureImage, true)
    },
    onPageChanged ({ pageNumber, realWidth, realHeight }: PdfPageMeta): void {
      this.currentPageNumber = pageNumber
      this.realDocumentWidth = realWidth
      this.realDocumentHeight = realHeight
    },
    async sign () {
      const { top, left } = this.$refs.signatureImageContainer
      const { height, width } = getImageParams(this.$refs.signatureImage)
      const data = {
        images: [{
          left: scale(left + this.draggableOffset, this.realDocumentWidth, this.document.width),
          top: scale(top + this.draggableOffset, this.realDocumentHeight, this.document.height),
          width: scale(width, this.realDocumentWidth, this.document.width),
          height: scale(height, this.realDocumentHeight, this.document.height),
          page: this.currentPageNumber - 1,
          url: this.signature.getOriginalImageData()
        }],
        documentUrl: this.documentUrl,
        destination: getSignedDocumentKey(this.$options.currentDocument),
        sessionId: this.$options.notarySession.getSessionId()
      }

      this.isLoading = true

      let url
      try {
        const res = await this.$options.notarySession.sign(data)

        url = res.url
      } catch (e) {
        const err = new ReportError('Error during sign request occurred.')

        err.extra = data

        this.setError(err)
        this.isLoading = false

        throw err
      }

      try {
        await this.$options.documentModel.storeSignedKey(this.$options.currentDocument.id, extractPathFromUrl(url))
        await this.$options.notarySession
          .convertDocument(this.$options.currentDocument.id, { stage: DOCUMENT_SIGNED_STAGE })
      } catch (e) {
        const err = new Error('Error during convert to images request occurred.')

        this.setError(err)
        throw err
      } finally {
        this.isLoading = false
      }

      this.isSignatureVisible = false
      this.isSignatureContainerVisible = false
      NotarySession.toNextStage(this.stage)
    },
    onResize (rect: Rectangle): void {
      this.changeImageSize(rect)
      this.setSignatureAttributes(rect)
    },
    changeImageSize ({ width, height }: Rectangle): void {
      const image = this.$refs.signatureImage

      image.style.height = `${height - this.draggableOffset * 2}px`
      image.style.width = `${width - this.draggableOffset * 2}px`
    },
    setSignatureAttributes ({ width, height }: Rectangle): void {
      this.signature.width = width
      this.signature.height = height
    },
    getCurrentDocumentLink (): string {
      if (this.isSigned) {
        return this.$options.documentLinks.signed
      }

      if (this.isSealed || this.isSessionEnded) {
        return this.$options.documentLinks.sealed
      }

      return this.$options.documentLinks.original
    },
    deleteActiveNode () {
      this.toggleActiveNode(this.activeNode, false)
      this.isSignatureVisible = false
      this.isSignatureContainerVisible = false
    },
    async scaleSignature (direction: Direction): Promise<void> {
      this.toggleActiveNode(this.$refs.signatureImage, true)

      if (direction === 1) {
        await this.signature.scaleUp()
      } else {
        await this.signature.scaleDown()
      }

      this.changeImageSize(this.signature)
    },
    async loaded (): Promise<void> {
      const initialSignatureParams: Rectangle = this.getInitialSignatureParams()
      const normalizedSignatureParams: Rectangle = await this.signature.setParameters(initialSignatureParams)

      await this.$nextTick()

      this.changeImageSize(normalizedSignatureParams)
    },
    getEventMessage (lastEvent: string): string|null {
      switch (lastEvent) {
        case IMAGE_ADDED_SIGNATURE_EVENT: return 'Applying notary\'s signature'
        case IMAGE_ADDED_SEAL_EVENT: return 'Applying notary seal'
        case TEXT_ADDED_EVENT: return 'Notary filling out notary certificate'
        case OPEN_NOTARY_FORM_EVENT: return 'Notary entering session record information'
        default: return null
      }
    },
    async setDocuments (): Promise<void> {
      const documents: Array<NotaryDocument> = await this.$options.notarySession.getDocuments()

      this.$options.currentDocument = getCurrentDocument(documents)
      this.$options.documentLinks.setDocument(this.$options.currentDocument)
      this.documentUrl = await this.getCurrentDocumentLink()
      this.configureCurrentDocumentImages(documents)
    },
    getInitialSignatureParams (): Rectangle {
      return scaleRectangle(this.$refs.signatureImage, 400)
    },
    async placeSignature (): Promise<void> {
      this.isSignatureContainerVisible = true

      await this.$nextTick()

      const targetNode = this.$refs.signatureImage

      this.$refs.signatureImageContainer.$el.appendChild(targetNode)
    },
    changeCurrentPage (neededPage: number): void {
      this.neededPageNumber = neededPage
    },
    changeSignatureBoxReceivers (signatureBoxReceivers: Array<PositionedRectangle>): void {
      this.signatureBoxReceivers = signatureBoxReceivers
    }
  }
}
</script>
