<template>
  <v-container class="main-container">
    <v-toolbar color="elevation-0 pt-2">
      <v-toolbar-title>Welcome to online notary</v-toolbar-title>
    </v-toolbar>
    <v-container text-xs-center fill-height color="gray" class="content-container fill-height-with-toolbar">
      <v-layout column>
        <div class="item">
          <div class="pb-3">
            <span class="icon-contract text--success text--70"></span>
          </div>
          <div class="text-xs-left subheading text-spacing--narrow">
            You have been invited to sign the following document(s) in the presence of a state-commissioned
            online notary:
          </div>
          <div class="text-xs-left mt-3 subheading">
            <div v-for="doc in documents" :key="doc.id" class="mt-3 text-spacing--narrow">
              <div class="text-xs-center font-weight-black text--dark text-truncate width--85 narrow-block">
                {{ doc.name }}
              </div>
              <div v-if="doc.hash" class="text-xs-center narrow-block mt-1">
                <span class="caption" style="color: grey">ID:&nbsp;{{ doc.hash }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="item full-width mt-3">
          <v-btn @click="toNextStage" color="info" block large>Get started</v-btn>
        </div>
        <div class="item full-width text-xs-right">
          <SupportButton />
        </div>
        <div v-if="isDesktopClient" class="item full-width mt-3">
          <v-layout justify-center row>
            <v-flex xs1>
              <span class="text--error text--50 icon-circle" />
            </v-flex>
            <v-flex xs11 class="subheading text--error text-xs-left">
              If you experience issues with your computer's video or audio, you can use your Android phone or iPhone to
              join this notary session. To do so, close this window on your computer and click the notary session email
              invite link on your phone.
            </v-flex>
          </v-layout>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'
import { SupportButton } from '../../components'
import Document from '../../models/Documents/Document'
import RemoteStorage from '../../services/RemoteStorage'
import { NotarySession } from '../../services/NotarySession'
import { isMobileMixin } from '../../mixins'

export default {
  mixins: [isMobileMixin],
  components: { SupportButton },
  data: () => ({
    documents: []
  }),
  computed: {
    ...mapState(['stage'])
  },
  methods: {
    toNextStage () {
      NotarySession.toNextStage(this.stage)
    }
  },
  async mounted () {
    const db = await RemoteStorage()
    const sessionId = NotarySession.init().getSessionId()
    const model = Document.create(db)

    this.documents = await model.getAllBySessionId(sessionId)
  }
}
</script>
