<template>
  <v-container class="main-container">
    <v-container
      text-xs-center
      fill-height
      color="gray"
      class="content-container fill-height-with-toolbar"
    >
      <v-layout column>
        <div class="item mt-5 pt-5">
          <h1 class="mt-5 p-5 text--info-alt">One moment</h1>
          <div class="p-5">
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
          </div>
        </div>
      </v-layout>
    </v-container>
  </v-container>
</template>
