<template>
  <v-app>
    <router-view></router-view>
    <div :id="audioTracksContainerId"></div>
    <Support />
  </v-app>
</template>
<script>
import { Support } from './components'
import { AUDIO_TRACKS_CONTAINER_ID } from './constants/elements'

export default {
  name: 'App',
  components: { Support },
  data: () => ({
    audioTracksContainerId: AUDIO_TRACKS_CONTAINER_ID
  })
}
</script>
