.text--dark {
    color: #000;
}

.text--success {
    color: #4caf50;
}

.text--info {
    color: #006aff;
}

.text--info-alt {
    color: #223e92;
}

.text--warning {
    color: #ffc107;
}

.text--error {
    color: #ff5252;
}

.text--accent2 {
    color: #d84315;
}

.text--smaller {
    font-size: smaller;
}

.text--18 {
    font-size: 18px;
}

.text--24 {
    font-size: 24px;
}

.text--30 {
    font-size: 30px;
}

.text--50 {
    font-size: 50px;
}

.text--70 {
    font-size: 70px;
}

.text--90 {
    font-size: 90px;
}

.mt-6 {
    margin-top: 72px !important;
}

.mt-7 {
    margin-top: 96px !important;
}

.mt-8 {
    margin-top: 120px !important;
}
