@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?fqb0nt');
    src: url('./assets/fonts/icomoon.eot?fqb0nt#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?fqb0nt') format('truetype'),
    url('./assets/fonts/icomoon.woff?fqb0nt') format('woff'),
    url('./assets/fonts/icomoon.svg?fqb0nt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus-square:before {
    content: "\e911";
}

.icon-correct:before {
    content: "\e900";
}

.icon-circle:before {
    content: "\e912";
}

.icon-desktop1:before {
    content: "\e90e";
}

.icon-contract:before {
    content: "\e90b";
}

.icon-desktop:before {
    content: "\e90a";
}

.icon-feather:before {
    content: "\e902";
}

.icon-headset:before {
    content: "\e903";
}

.icon-id:before {
    content: "\e904";
}

.icon-lock:before {
    content: "\e905";
}

.icon-reminder:before {
    content: "\e906";
}

.icon-rotate:before {
    content: "\e907";
}

.icon-sign:before {
    content: "\e908";
}

.icon-text:before {
    content: "\e909";
}

.icon-two-presentation-cards-with-picture:before {
    content: "\e90c";
}

.icon-user-shield:before {
    content: "\e90d";
}

.icon-user:before {
    content: "\e90f";
}

.icon-video-call:before {
    content: "\e910";
}

.icon-paper-and-feather:before {
    content: "\e901";
}
