@import "media.css";
@import "icomoon.css";
@import "common.css";

:root {
    --dragable-signature-padding: 2px;
}

video {
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.content-container {
    padding: 32px;
}

.main-container {
    padding: 0;
}

.fill-height-with-toolbar {
    height: 90%;
}

.screen-icon-logo {
    width: 90px;
    height: 90px;
    font-size: 90px;
}

.fa-screen-icon-logo {
    font-size: 90px;
}

.small-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.text--success {
    color: #4caf50;
}

.text--info {
    color: #006aff;
}

.text--warning {
    color: #ffc107;
}

.text--error {
    color: #ff5252;
}

.text--accent2 {
    color: #d84315;
}

.text--smaller {
    font-size: smaller;
}

.text--50 {
    font-size: 50px;
}

.text--24 {
    font-size: 24px;
}

.text--20 {
    font-size: 20px;
}

.text--90 {
    font-size: 90px;
}

.video-preview {
    height: 87px !important;
    width: 87px !important;
    position: relative;
    float: right;
}

.toolbar-video-preview {
    height: 64px !important;
    width: 64px !important;
}

.bordered {
    border: var(--dragable-signature-padding) solid #1dacdf;
}

.bordered--error {
    border: var(--dragable-signature-padding) solid #ff2800;
}

.padding {
    padding: var(--dragable-signature-padding);
}

.vdr-stick {
    border-radius: 10px;
}

.button-icon {
    font-size: 20px;
}

.camera-recorder-indicator {
    animation: blinker 0.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.x-large {
    height: 53px;
    padding: 0 45px;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.video-container video {
    max-height: 35vh;
    max-width: 100%;
}

.medium-video-container video {
    max-height: 25vh;
    max-width: 100%;
}

.preview-video-container video {
    max-height: 120px;
    max-width: 120px;
}

.toolbar-preview-video-container video {
    max-height: 60px;
    max-width: 80px;
}

.official-video-placeholder {
    height: 200px;
    background-color: #c7e9ff;
}

.pull-right {
    float: right;
}

.fixed-video-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.top-fixed-video-container {
    position: fixed;
    top: 2px;
    right: 2px;
    z-index: 1;
}

.half-width {
    /*max-width: 50vw;*/
    max-height: 50vh;
}

.quarter-width {
    max-width: 25vw;
    max-height: 25vh;
}

.width--85 {
    max-width: 85vw;
}

.button-narrow {
    min-width: 65px;
    padding: 0;
}

.text--medium-fixed {
    font-size: 20px;
}

div.integrator {
    border: 0;
}

@media (orientation: portrait) {
    .integrator.DL_FRONT {
        background: url('./assets/img/mitek/ghost_dlfront_portrait.png') no-repeat;
    }

    .integrator.PASSPORT {
        background: url('./assets/img/mitek/ghost_passport_portrait.png') no-repeat;
    }
}

@media (orientation: landscape) {
    .integrator.DL_FRONT {
        background: url('./assets/img/mitek/ghost_dlfront.png') no-repeat;
    }

    .integrator.PASSPORT {
        background: url('./assets/img/mitek/ghost_passport.png') no-repeat;
    }
}

#app-frame-provider---guideBox---3iqxo.app-frame-provider---change---13zQO:after {
    top: 75% !important;
    left: 0;
    widtH: 100vw;
}

.vdr.active:before {
    outline: none;
}

.v-tabs--divided .v-tabs__div .v-tabs__item {
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.v-tabs--divided .v-tabs__div:last-of-type .v-tabs__item {
    border-right: none;
}

.full-height-fixed {
    height: 117%;
}

.narrow-block {
    line-height: 1;
}

.button-container {
    cursor: pointer;
}

.background--white {
    background: #fff;
}

.transition--fast {
    transition: 200ms;
}

.text-spacing--narrow {
    line-height: 1.3em;
}

.text-spacing--normal {
    line-height: 1em;
}

.small-font label {
    font-size: 14px;
}

.low .v-input__slot {
    margin-bottom: 0;
}

.low .v-input__control {
    height: 35px;
}

.signature-box--background {
    background: rgba(29, 172, 223, 0.17);
}

.v-dialog--bottom {
  position: absolute;
  top: 50vh;
}

.v-dialog--dynamic-top {
  position: absolute;
  top: var(--id-popup--top-position);
}

.v-dialog--middle-bottom {
  position: absolute;
  top: 40vh;
}

.signature {
  width: 200px;
}

.in-signing-process {
  border: 1px solid #ff5252;
}

.in-sealing-process {
  border: 1px solid #00c44f;
}

.nav-heading {
  color: white !important;
  background-color: #00c44f !important;
}

.main-button {
  width: 50px;
  height: 50px;
}

.toolbar-with-action-buttons {
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.p-card {
  height: 700px;
  width: 550px;
  padding: 120px 60px;
}

.text-medium {
  color: rgba(0,0,0,0.6);
}

.text-light {
  color: rgba(0,0,0,0.3);
}

.p-card-heading {
  font-size: 13px; 
  color: rgba(0,0,0,0.5);
}

.p-card-input-lg {
  border: 1px solid rgba(0,0,0,0.1); 
  padding: 7px;
  line-height: 38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.p-card-input {
  display: block;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  padding: 7px;
  line-height: 38px;
  border-bottom-left-radius: 5px;
}

.p-card-input:last-child {
  border-left: none;
  border-top: none;
  padding: 7px;
  line-height: 38px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}

.p-card-input-outer {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 7px;
  line-height: 38px;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  display: block;
}

.no-bottom-br {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.fs-15px {
  font-size: 15px;
}

.p-card-input-outer:focus {
  outline: none;
}

.p-btn {
  background-color: rgba(36, 68, 149)!important;
  border-radius: 7px;
  color: #f7f7f7!important;
  margin-top: 50px!important;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-blue {
  color: rgba(36, 68, 149);
}

.text-green {
  color: #8FBC8F;
}

.text-white {
  color: #fff!important;
}

.bg-green {
  background-color: #8FBC8F!important;
}

.sample-pdf {
  padding: 50px;
  height: 300px;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 auto;
}

.test-col {
  width: 500px;
  margin: 50px auto;
}

.text-center {
  text-align: center;
}

.border-error {
  border-color: rgb(220,20,60);
}

.text-red {
  color: rgb(220,20,60);
}

.w-100px {
  max-width: 100px;
}
.w-200px {
  max-width: 200px;
}

.payer-card {
    margin: 50px auto;
    display: block;

}