:root {
    --display-4-base: 112px;
    --display-3-base: 56px;
    --display-2-base: 45px;
    --display-1-base: 34px;
    --headline-base: 24px;
    --title-base: 20px;
    --subheading-base: 16px;
    --body-2-base: 14px;
    --body-1-base: 14px;
    --caption-base: 12px;

    --iphone-8-factor: 1;
    --iphone-x-factor: 1.1;
    --ipads-factor: 1.5;
    --desktop-factor: 1.9;

    --id-popup--top-position: 50vh;
    --document-canvas--image--max-width: 100vw;
    --document-canvas--image--max-height: 100vh;
}

/* iPhone 8 */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
    .application--wrap {
        min-height: 88vh !important;
    }

    .display-4 {
        font-size: calc(var(--display-4-base) * var(--iphone-8-factor)) !important;
    }

    .display-3 {
        font-size: calc(var(--display-3-base) * var(--iphone-8-factor)) !important;
    }

    .display-2 {
        font-size: calc(var(--display-2-base) * var(--iphone-8-factor)) !important;
    }

    .display-1 {
        font-size: calc(var(--display-1-base) * var(--iphone-8-factor)) !important;
    }

    .headline {
        font-size: calc(var(--headline-base) * var(--iphone-8-factor)) !important;
    }

    .title {
        font-size: calc(var(--title-base) * var(--iphone-8-factor)) !important;
    }

    .subheading {
        font-size: calc(var(--subheading-base) * var(--iphone-8-factor)) !important;
    }

    .body-2 {
        font-size: calc(var(--body-2-base) * var(--iphone-8-factor)) !important;
    }

    .body-1 {
        font-size: calc(var(--body-1-base) * var(--iphone-8-factor)) !important;
    }

    .caption {
        font-size: calc(var(--caption-base) * var(--iphone-8-factor)) !important;
    }
}

/* iPhone X */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio: 3) {
    .application--wrap {
        min-height: 88vh !important;
    }

    .display-4 {
        font-size: calc(var(--display-4-base) * var(--iphone-x-factor)) !important;
    }

    .display-3 {
        font-size: calc(var(--display-3-base) * var(--iphone-x-factor)) !important;
    }

    .display-2 {
        font-size: calc(var(--display-2-base) * var(--iphone-x-factor)) !important;
    }

    .display-1 {
        font-size: calc(var(--display-1-base) * var(--iphone-x-factor)) !important;
    }

    .headline {
        font-size: calc(var(--headline-base) * var(--iphone-x-factor)) !important;
    }

    .title {
        font-size: calc(var(--title-base) * var(--iphone-x-factor)) !important;
    }

    .subheading {
        font-size: calc(var(--subheading-base) * var(--iphone-x-factor)) !important;
    }

    .body-2 {
        font-size: calc(var(--body-2-base) * var(--iphone-x-factor)) !important;
    }

    .body-1 {
        font-size: calc(var(--body-1-base) * var(--iphone-x-factor)) !important;
    }

    .caption {
        font-size: calc(var(--caption-base) * var(--iphone-x-factor)) !important;
    }
}

/* iPads */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .display-4 {
        font-size: calc(var(--display-4-base) * var(--ipads-factor)) !important;
    }

    .display-3 {
        font-size: calc(var(--display-3-base) * var(--ipads-factor)) !important;
    }

    .display-2 {
        font-size: calc(var(--display-2-base) * var(--ipads-factor)) !important;
    }

    .display-1 {
        font-size: calc(var(--display-1-base) * var(--ipads-factor)) !important;
    }

    .headline {
        font-size: calc(var(--headline-base) * var(--ipads-factor)) !important;
    }

    .title {
        font-size: calc(var(--title-base) * var(--ipads-factor)) !important;
    }

    .subheading {
        font-size: calc(var(--subheading-base) * var(--ipads-factor)) !important;
    }

    .body-2 {
        font-size: calc(var(--body-2-base) * var(--ipads-factor)) !important;
    }

    .body-1 {
        font-size: calc(var(--body-1-base) * var(--ipads-factor)) !important;
    }

    .caption {
        font-size: calc(var(--caption-base) * var(--ipads-factor)) !important;
    }
}

/* Desktops and laptops */
@media only screen
and (min-width: 1024px) {
    .display-4 {
        font-size: calc(var(--display-4-base) * var(--desktop-factor)) !important;
    }

    .display-3 {
        font-size: calc(var(--display-3-base) * var(--desktop-factor)) !important;
    }

    .display-2 {
        font-size: calc(var(--display-2-base) * var(--desktop-factor)) !important;
    }

    .display-1 {
        font-size: calc(var(--display-1-base) * var(--desktop-factor)) !important;
    }

    .headline {
        font-size: calc(var(--headline-base) * var(--desktop-factor)) !important;
    }

    .title {
        font-size: calc(var(--title-base) * var(--desktop-factor)) !important;
    }

    .subheading {
        font-size: calc(var(--subheading-base) * var(--desktop-factor)) !important;
    }

    .body-2 {
        font-size: calc(var(--body-2-base) * var(--desktop-factor)) !important;
    }

    .body-1 {
        font-size: calc(var(--body-1-base) * var(--desktop-factor)) !important;
    }

    .caption {
        font-size: calc(var(--caption-base) * var(--desktop-factor)) !important;
    }
}