<template>
  <v-app>
    <v-container class="main-container">
      <v-layout class="test-col" column>
        <v-btn v-if="loading" class="btn btn-default align-self-end w-25" disabled>Sign</v-btn>
        <v-btn v-if="!loading" class="btn btn-default align-self-end w-25" @click="sign">Sign</v-btn>
        <div class="sample-pdf">
          <input v-if="!error" type="password" class="p-card-input-outer" v-bind:value="password" v-on:input="passwordChange($event)" placeholder="**********" />
          <input v-if="error" type="password" class="p-card-input-outer border-error" v-bind:value="password" v-on:input="passwordChange($event)" placeholder="**********" />
          <p class="mt-4 text-center">PDF Document</p>
        </div>
        <v-btn v-if="!imageUrl" disabled class="btn btn-default align-self-center w-25 mt-3">Download</v-btn>
        <v-btn v-if="imageUrl" class="btn btn-default align-self-center w-25 mt-3" @click="download">Download</v-btn>
        <p class="text-red mt-5">{{errorMessage}}</p>
        <a href="#" style="display: none;" target="_blank" id="file-link" download />
      </v-layout>
    </v-container>
  </v-app>
</template>
<script>
import { NotarySession } from './services/NotarySession'
import { parseQueryParameters, getCurrentDocument, getSealedDocumentKey } from './services/utils'
import DocumentLinks from './models/Documents/DocumentLinks'
import Logger from './services/Logger'
const logger = Logger.create()

export default {
  name: 'TestApp',
  data: () => ({
    password: '',
    loading: false,
    error: false,
    notarySession: NotarySession.init(),
    officialId: null,
    firmId: null,
    documentLinks: new DocumentLinks(),
    imageUrl: '',
    errorMessage: '',
    sessionId: null,
    currentDocument: null,
    documentUrl: null
  }),
  async mounted () {
    const params = parseQueryParameters(window.location.search)
    const officialId = params.get('official-id')
    const firmId = params.get('firm-id')
    this.sessionId = params.get('session-id')
    this.notarySession.setOfficialId(officialId)
    this.notarySession.setFirmId(firmId)
    this.notarySession.setSessionId(this.sessionId)
    const documents = await this.notarySession.getDocuments()
    this.currentDocument = getCurrentDocument(documents)
    this.documentLinks.setDocument(this.currentDocument)
    this.documentUrl = this.documentLinks.original
  },
  methods: {
    passwordChange (e) {
      this.password = e.target.value
      this.error = false
      this.errorMessage = ''
    },
    download () {
      const fileLink = document.getElementById('file-link')
      fileLink.href = this.imageUrl
      document.body.appendChild(fileLink)
      fileLink.click()
    },
    async sign () {
      const password = this.password
      if (!password) {
        this.error = true
        return
      }
      this.loading = true
      try {
        const signature = await this.notarySession.getSignatureInfo({ password })
        const destination = getSealedDocumentKey(this.currentDocument)
        const data = {
          signature,
          destination,
          sessionId: this.sessionId,
          documentUrl: this.documentUrl
        }
        const { url } = await this.notarySession.seal(data)
        this.imageUrl = url
      } catch (err) {
        logger.debug(err)
        this.errorMessage = 'Something went wrong'
      }
      this.loading = false
    }
  }
}
</script>
